/*
 * tegra186-cvb-prod-p2597-b00-p3310-1000-a00-00.dtsi: CVB-PROD P2597-B00 with
 *				P3310-1000
 *
 * Copyright (c) 2015-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/gpio/tegra-gpio.h>
#include <dt-bindings/input/input.h>

/ {

	i2c@3160000 {
		ina3221x@42 {
			compatible = "ti,ina3221x";
			reg = <0x42>;
			ti,trigger-config = <0x7003>;
			ti,continuous-config = <0x7c07>;
			ti,enable-forced-continuous;
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0x0>;
				ti,rail-name = "VDD_MUX";
				ti,shunt-resistor-mohm = <20>;
			};
			channel@1 {
				reg = <0x1>;
				ti,rail-name = "VDD_5V0_IO_SYS";
				ti,shunt-resistor-mohm = <5>;
			};
			channel@2 {
				reg = <0x2>;
				ti,rail-name = "VDD_3V3_SYS";
				ti,shunt-resistor-mohm = <10>;
			};
		};

		ina3221x@43 {
			compatible = "ti,ina3221x";
			reg = <0x43>;
			ti,trigger-config = <0x7003>;
			ti,continuous-config = <0x7c07>;
			ti,enable-forced-continuous;
			#address-cells = <1>;
			#size-cells = <0>;
			channel@0 {
				reg = <0x0>;
				ti,rail-name = "VDD_3V3_IO_SLP";
				ti,shunt-resistor-mohm = <10>;
			};
			channel@1 {
				reg = <0x1>;
				ti,rail-name = "VDD_1V8_IO";
				ti,shunt-resistor-mohm = <10>;
			};
			channel@2 {
				reg = <0x2>;
				ti,rail-name = "VDD_3V3_SYS_M2";
				ti,shunt-resistor-mohm = <10>;
			};
		};

		gpio_i2c_0_74: gpio@74 {
			compatible = "ti,tca9539";
			reg = <0x74>;
			gpio-controller;
			#gpio-cells = <2>;
		};
		gpio@74 {
			enable-touch-rails {
				gpio-output-high = <1 2>;
			};
		};

		gpio_i2c_0_77: gpio@77 {
			compatible = "ti,tca9539";
			reg = <0x77>;
			gpio-controller;
			#gpio-cells = <2>;
		};


		gpio_i2c_0_21: gpio@21 {
			compatible = "ti,tca6408";
			reg = <0x21>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		/* outp,outn enable gpios set through plugin manager dt */
		tps65132@3e {
			reg = <0x3e>;
			compatible = "ti,tps65132";
			status = "okay";
			vpp_lcd: outp {
				regulator-name = "outp";
				regulator-min-microvol = <4000000>;
				regulator-max-microvol = <6000000>;
				enable-active-high;
			};

			vmm_lcd: outn {
				regulator-name = "outn";
				regulator-min-microvol = <4000000>;
				regulator-max-microvol = <6000000>;
				enable-active-high;
				ti,disable-active-discharge;
			};
		};

	};

	fixed-regulators {
		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		en_vdd_sdcard1: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "en-vdd-sd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tegra_gpio TEGRA_GPIO(P, 5) 0>;
			enable-active-high;
		};

		en_vdd_cam: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "en-vdd-cam";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_i2c_0_77 9 1>;
			enable-active-high;
		};

		vdd_hdmi: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio_i2c_0_74 12 1>;
			enable-active-high;
		};

		vdd_usb0_5v: regulator@4 {
			compatible = "regulator-fixed-sync";
			reg = <4>;
			regulator-name = "vdd-usb0-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tegra_gpio TEGRA_GPIO(L, 4) 0>;
			enable-active-high;
		};

		vdd_usb1_5v: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "vdd-usb1-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tegra_gpio TEGRA_GPIO(L, 5) 0>;
			enable-active-high;
		};

		en_vdd_ts_1v8: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "en-vdd-ts-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_i2c_0_74 1 1>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
		};

		en_vdd_ts_hv_3v3: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			regulator-name = "en-vdd-ts-hv-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_i2c_0_74 2 1>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
		};

		en_avdd_disp_3v3: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			regulator-name = "en-vdd-disp-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio_i2c_0_74 3 0>;
			enable-active-high;
		};

		en_mdm_pwr_3v7: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "en-mdm-pwr-3v7";
			regulator-min-microvol = <3700000>;
			regulator-max-microvol = <3700000>;
			gpio = <&gpio_i2c_0_74 7 1>;
			enable-active-high;
		};

		en_vdd_disp_1v8: regulator@10 {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			regulator-name = "en-vdd-disp-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio_i2c_0_74 9 1>;
			enable-active-high;
		};

		en_vdd_cam_hv_2v8: regulator@11 {
			compatible = "regulator-fixed-sync";
			reg = <11>;
			regulator-name = "en-vdd-cam-hv-2v8";
			regulator-min-microvol = <2800000>;
			regulator-max-microvol = <2800000>;
			gpio = <&gpio_i2c_0_74 13 1>;
			enable-active-high;
		};

		en_vdd_cam_1v2: regulator@12 {
			compatible = "regulator-fixed-sync";
			reg = <12>;
			regulator-name = "en-vdd-cam-1v2";
			regulator-min-microvol = <1200000>;
			regulator-max-microvol = <1200000>;
			gpio = <&gpio_i2c_0_77 10 0>;
			enable-active-high;
		};

		vdd_fan: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "vdd-fan";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio_i2c_0_74 4 0>;
		};

		vdd_3v3: regulator@14 {
			compatible = "regulator-fixed-sync";
			reg = <14>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		dis_vdd_1v2: regulator@15 {
			compatible = "regulator-fixed-sync";
			reg = <15>;
			regulator-name = "dis-vdd-1v2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&gpio_i2c_0_74 10 1>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
		};

		en_vdd_vcm_2v8: regulator@16 {
			compatible = "regulator-fixed-sync";
			reg = <16>;
			regulator-name = "en-vdd-vcm-2v8";
			regulator-min-microvol = <2800000>;
			regulator-max-microvol = <2800000>;
			enable-active-high;
		};

		vdd_usb2_5v: regulator@17 {
			compatible = "regulator-fixed-sync";
			reg = <17>;
			regulator-name = "vdd-usb2-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio_i2c_0_74 0 0>;
		};

		vdd_bl_en: regulator@18 {
			compatible = "regulator-fixed-sync";
			reg = <18>;
			regulator-name = "vdd-sys-bl";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		en_vdd_sys: regulator@118 {
			compatible = "regulator-fixed-sync";
			reg = <118>;
			regulator-name = "en-vdd-sys";
			regulator-min-microvol = <1200000>;
			regulator-max-microvol = <1200000>;
			gpio = <&gpio_i2c_0_77 3 1>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		gpio-keys,name = "gpio-keys";

		power {
			label = "Power";
			gpios = <&tegra_gpio TEGRA_GPIO(FF, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			gpio-key,wakeup;
		};

		volume_up {
			label = "Volume Up";
			gpios = <&tegra_gpio TEGRA_GPIO(FF, 1) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};

		volume_down {
			label = "Volume Down";
			gpios = <&tegra_gpio TEGRA_GPIO(FF, 2) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};
	};
};
