/*
 * Copyright (c) 2015-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include <tegra186-modules/tegra186-camera-e3323-a00.dtsi>
#include "dt-bindings/clock/tegra186-clock.h"

#define CAM0_RST_L	TEGRA_GPIO(R, 5)
#define CAM0_PWDN	TEGRA_GPIO(R, 0)
#define CAM1_RST_L	TEGRA_GPIO(R, 1)
#define CAM1_PWDN	TEGRA_GPIO(L, 6)
/* CAM2_RST  TCA9539 - P10 */
/* CAM2_PWDN  TCA9539 - P07 */
/* CAM_AF_PWDN  TCA9539 - P13 */

/* camera control gpio definitions */

/ {
	i2c@3180000 {
		ov23850_a@10 {
			/* Define any required hw resources needed by driver */
			/* ie. clocks, io pins, power sources */
			clocks = <&tegra_car TEGRA186_CLK_EXTPERIPH1>,
					 <&tegra_car TEGRA186_CLK_PLLP_OUT0>;
			clock-names = "extperiph1", "pllp_grtba";
			mclk = "extperiph1";

			reset-gpios = <&tegra_gpio CAM0_RST_L GPIO_ACTIVE_HIGH>;   //also for VCM_2V8 en
			pwdn-gpios = <&tegra_gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;
			vana-supply = <&en_vdd_cam_hv_2v8>;
			vdig-supply = <&en_vdd_sys>;
			vif-supply = <&en_vdd_cam>;
			vvcm-suply = <&en_vdd_vcm_2v8>;
		};
		lc898212_2: lc898212@2_0072 {
			vvcm-supply = <&en_vdd_vcm_2v8>;
			support_mfi = "false";
		};
	};

	i2c@c240000 {
		ov23850_c@36 {
			/* Define any required hw resources needed by driver */
			/* ie. clocks, io pins, power sources */
			clocks = <&tegra_car TEGRA186_CLK_EXTPERIPH2>,
					 <&tegra_car TEGRA186_CLK_PLLP_OUT0>;
			clock-names = "extperiph2", "pllp_grtba";
			mclk = "extperiph2";

			reset-gpios = <&tegra_gpio CAM1_RST_L GPIO_ACTIVE_HIGH>;   //also for VCM_2V8 en
			pwdn-gpios = <&tegra_gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;
			vana-supply = <&en_vdd_cam_hv_2v8>;
			vdig-supply = <&en_vdd_sys>;
			vif-supply = <&en_vdd_cam>;
			vvcm-suply = <&en_vdd_vcm_2v8>;
		};
		lc898212_1: lc898212@1_0072 {
			vvcm-supply = <&en_vdd_vcm_2v8>;
			support_mfi = "false";
		};
	};

	fixed-regulators {
		en_vdd_sys: regulator@118 {
			enable-active-high;
		};
	};
};
