#
# Video configuration
#

menu "Graphics support"
	depends on HAS_IOMEM

config HAVE_FB_ATMEL
	bool

config SH_MIPI_DSI
	tristate
	depends on (SUPERH || ARCH_SHMOBILE) && HAVE_CLK

config SH_LCD_MIPI_DSI
	bool

source "drivers/char/agp/Kconfig"

source "drivers/gpu/vga/Kconfig"

source "drivers/gpu/host1x/Kconfig"
source "drivers/gpu/ipu-v3/Kconfig"

menu "Direct Rendering Manager"
source "drivers/gpu/drm/Kconfig"
endmenu

menu "Frame buffer Devices"
source "drivers/video/fbdev/Kconfig"
endmenu

source "drivers/video/backlight/Kconfig"
source "drivers/video/adf/Kconfig"

source "drivers/video/tegra/Kconfig"

config VGASTATE
       tristate
       default n

config VIDEOMODE_HELPERS
	bool

config HDMI
	bool

if VT
	source "drivers/video/console/Kconfig"
endif

if FB || SGI_NEWPORT_CONSOLE
	source "drivers/video/logo/Kconfig"

endif


config DS90UH925Q_SER
	bool "DS90UH925Q FPDLink Serializer"
	depends on I2C
	help
	  This is a driver for FPDLink Serializer DS90UH925Q.

config DS90UB947
	bool "DS90UB947-Q1 1080p OpenLDS to FPD-Link III Serializer driver"
	default n
	help
		Enable support for TI DS90UB947-Q1 LVDS-to-FPD-Link Serializer driver.

endmenu
