menuconfig SDW
	tristate "SoundWire bus support"
	help
	  SoundWire interface is typically used for transporting data
	  related to audio functions.
menuconfig SDW_CNL
	tristate "Intel SoundWire master controller support"
	depends on SDW
	help
	  Intel SoundWire master controller driver
menuconfig SDW_MAXIM_SLAVE
	bool "SoundWire Slave for the Intel CNL FPGA"
	depends on SDW
	help
	  SoundWire Slave on FPGA platform for Intel CNL IP
	  Mostly N for all the cases other than CNL Slave FPGA

