config INTEL_IPU4_BXT_P_PDATA
	bool "Enable built in platform data for Broxton-P"
	depends on VIDEO_INTEL_IPU && VIDEO_INTEL_IPU4
	---help---
	Pre-ACPI system platform data is compiled inside kernel

config INTEL_IPU4_BXT_GP_PDATA
	depends on VIDEO_INTEL_IPU && VIDEO_INTEL_IPU4
	bool "Enable built in platform data for Gordon Peak"
	---help---
	Pre-ACPI system platform data is compiled inside kernel

config INTEL_IPU4_BXT_GP_PDATA
	bool "Enable built in platform data for Broxton GP MRB"
	---help---
	Pre-ACPI system platform data is compiled inside kernel

config INTEL_IPU4_ICI_BXT_P_PDATA
	depends on VIDEO_INTEL_IPU && VIDEO_INTEL_ICI
	bool "Enable built in platform data for Broxton-P ICI driver"
	---help---
	Pre-ACPI system platform data is compiled inside kernel

config INTEL_IPU4P_CNL_RVP_PDATA
	depends on VIDEO_INTEL_IPU && VIDEO_INTEL_IPU4P
	bool "Enable built in platform data for ipu4p"
	depends on VIDEO_INTEL_IPU4P
	---help---
	Pre-ACPI system platform data is compiled inside kernel

config INTEL_IPU4_OV13858
	bool "Compile platform data for OV13858"
	depends on INTEL_IPU4_BXT_P_PDATA
	---help---
	This module is used to enable
	Omnivision 13MP camera sensor
	which is similar to OV13860
	OS would be Yocto

config INTEL_IPU4_OV2740
	bool "Compile platform data for OV2740"
	depends on INTEL_IPU4_BXT_P_PDATA

config INTEL_IPU4_IMX185
	bool "Compile platform data for IMX185"
	depends on INTEL_IPU4_BXT_P_PDATA

config INTEL_IPU4_IMX185_LI
	bool "Compile platform data for IMX185 by Leopard Imaging"
	depends on INTEL_IPU4_BXT_P_PDATA
	---help---
	Sony IMX185 camera sensor module produced by Leopard Imaging

config INTEL_IPU4_AR023Z
	bool "Compile platform data for AR023Z"
	---help---
	Onsemi 2MP AR023Z camera sensor

config INTEL_IPU4_IMX477
	bool "Compile platform data for IMX477 camera sensor"
	depends on INTEL_IPU4_BXT_P_PDATA
	---help---
	Sony IMX477 sensor is enabled for DUAL Camera input.

config INTEL_IPU4_OV13860
	bool "Compile platform data for OV13860"
	---help---
	Omnivision 13MP camera sensor

config INTEL_IPU4_OV9281
	bool "Compile platform data for OV9281"
	---help---
	Omnivision 1MP camera sensor

config INTEL_IPU4_OV10635
	bool "Compile platform data for OV10635"
	---help---
	Omnivision 1MP camera sensor

config INTEL_IPU4_AR0231AT
        bool "Compile platform data for AR0231AT"
        ---help---
        AR0231 camera sensor for MAXIM 9286

config INTEL_IPU4_MAGNA
	bool "Compile platform data for MAGNA"
        depends on INTEL_IPU4_BXT_P_PDATA
	---help---
	MAGNA Camera Sensor

config INTEL_IPU4_IMX274
	bool "Compile platform data for IMX274 camera sensor"
	depends on INTEL_IPU4_BXT_P_PDATA
	---help---
	Sony 14MP camera sensor is enabled for HDR function.

config INTEL_IPU4_OV10640
	bool "Compile platform data for OV10640"
	---help---
	  Omnivision 1.4MP camera sensor

config INTEL_IPU4_ADV7481
	bool "Compile platform data for ADV7481"
	---help---
	HDMI2MIPI convertor device ADV7481

config INTEL_IPU4_ADV7481_I2C_ID
	int
	default 0
	---help---
	I2C bus number of ADV7481 Mondello

config INTEL_IPU4_ADV7481_EVAL
	bool "Compile platform data for ADV7481 evaluation board"
	---help---
	HDMI2MIPI convertor device ADV7481 eval board

config INTEL_IPU4_IMX290
	bool "Compile platform data for IMX290"
	depends on INTEL_IPU4_BXT_P_PDATA
	---help---
	Sony 8MB camera sensor is enabled for HDR function
