config VIDEO_CRLMODULE_LITE
	tristate "CRL Module sensor support for ICI driver"
	depends on I2C
	depends on VIDEO_INTEL_ICI
    depends on !VIDEO_CRLMODULE
	---help---
	  This is a generic driver for CRL based camera modules.
