config KEYSTORE
	tristate "Generic Keystore"
	default n
	select ABL_UTILS
	help
		An IVI system deals with various keys that need to be stored
		securely on the platform. Some of the keys are stored in
		specific embedded hardware but others are required by
		algorithms running on Linux. The keystore is designed to
		provide a secure storage solution for such keys. Applications
		interface is through the char device ioctls on /dev/keystore.

		If in doubt, say "N".

choice
	prompt "Keystore Module Type"
	default KEYSTORE_FULL
	depends on KEYSTORE

config KEYSTORE_FULL
	bool "Keystore full-functionality"
	select SECURE_BOOT
	select MANIFEST
        select CRYPTO
	select CRYPTO_AES
	select CRYPTO_AES_NI_INTEL
	select CRYPTO_BLKCIPHER
	select CRYPTO_BLKCIPHER2
	select CRYPTO_RNG
	select CRYPTO_MANAGER
	select CRYPTO_CCM
	select CRYPTO_GCM
        select CRYPTO_ECB
	select CRYPTO_CTR
	select CRYPTO_SEQIV
	select CRYPTO_CBC
	select CRYPTO_HMAC
	select CRYPTO_CMAC
	select CRYPTO_SHA1
	select CRYPTO_SHA256
	select CRYPTO_SHA512
	help
		This option chooses the default keystore configuration which
		is intended for production linux kernels.

		This is the default implementation choice. Choose this one
		unless you have a good reason not to.

config KEYSTORE_SEED_WIPE
	bool "Keystore delete SEEDs"
	help
		This option will create a keystore kernel module which deletes
		the user and device SEED values provided by the bootloader and
		exits. No normal keystore functionality is available.

		This option should be seleted when building an Emergency Linux
		kernel (ELK) or recovery image on a system which also uses
		keystore on the production (normal) image. This will prevent
		the SEED values being leaked on booting to the recovery image.
endchoice

choice
        prompt "Keystore SEED size"
        default KEYSTORE_SEED_SIZE_64
        depends on KEYSTORE

config KEYSTORE_SEED_SIZE_32
        bool "32-bytes"
        help
                Set the SEED size to 32-bytes. This should
                match the size of the SEED provided by the
                bootloader.

                If unsure, select "N".

config KEYSTORE_SEED_SIZE_64
        bool "64-bytes"
        help
                Set the SEED size to 64-bytes. This should
                match the size of the SEED provided by the
                bootloader.

                If unsure, select "N".

endchoice

choice
        prompt "Keystore seed type"
        depends on KEYSTORE_FULL
        default KEYSTORE_DEVICE_AND_USER_SEED
        help
          This option allows select which seed types are available in
          Keystore. Choose the default ("Device and User seed") unless you
          know that you need one of the others.

config KEYSTORE_DEVICE_AND_USER_SEED
        bool "Device and User seed"
        help
          This option allows both device and user seed.

          This is the default implementation choice. Choose this one unless
          you have a good reason not to.

config KEYSTORE_DEVICE_SEED_ONLY
        bool "Device seed only"
        help
          This option allows device seed only.

          Only choose this option if you know what you are doing.

config KEYSTORE_USER_SEED_ONLY
        bool "User seed only"
        help
          This option allows user seed only.

          Only choose this option if you know what you are doing.

endchoice

config KEYSTORE_OEM_KEY_USAGE_BIT
	int "Keystore OEM Manifest Key usage bit"
	depends on KEYSTORE_FULL
	default 47
	help
		Sets the key manifest usage bit to use when
		verifying data (e.g. backup and migration keys) which
		are sent from the OEM.

config KEYSTORE_OEM_KEY_IDENTIFIER
	string "Keystore OEM Kernel Keyring Identifier"
	depends on KEYSTORE_FULL
	default "OEM: Keystore: 4f454d4b4559000000000080000000000000000000004b657973746f7265"
	help
		The key identifier for the OEM public key used to
		verify data (e.g. backup and migration keys) which
		are sent from the OEM.

config APPLICATION_AUTH
	bool "Application Auth using signed manifest"
	depends on KEYSTORE_FULL
        default n
	help
		Enables authentication of keystore clients and other
		applications using a signed manifest. In keystore
		the manifest is verified during client registration.

config APPLICATION_AUTH_MANIFEST_ROOT
	string "Application Auth Manifest Root Directory"
	depends on APPLICATION_AUTH
	default "/opt/ias/etc/manifest"
	help
		The root directory for signed manifests of application
		auth clients.

config KEYSTORE_TESTMODE
	bool "Keystore Enable Diagnostic Tests"
	depends on KEYSTORE_FULL
        default n
	help
		Compiles a set of test functions which run diagnostics
		such as checking of crypto self-consistency (encrypt/decrypt)
		and format conversion. Provides an API to run a series of
		tests triggered from user-space.

                If unsure, select "N".

config KEYSTORE_TEST_MIGRATION
	bool "Keystore Migration Test Functions enabled"
	depends on KEYSTORE_FULL
        default n
	help
                Makes additional functions available to keystore for testing
                the backup and migration functions on a single machine. These
		are not necessary for keystore operation, but allow the
		migration step iteself to be performed natively instead
		of on a host machine.

                If unsure, select "N".

config KEYSTORE_DEBUG
	bool "Keystore enable additional debug messages (DANGEROUS!)"
	depends on KEYSTORE
        default n
	help
		Provides additional debug prints, hexdumps during keystore
		operation. Includes hexdump of cryptographic data structures
		such as public keys.

                Should not be enabled in production as it will expose
                sensitive information!

                If unsure, select "N".

config KEYSTORE_SECURE_BOOT_IGNORE
	bool "Keystore Ignore Secure Boot Status (DANGEROUS!)"
	depends on KEYSTORE_FULL
	default n
	help
		Check this option to ignore secure boot status when
		starting keystore.

		This should not be enabled for production as applications
		will wrongly assume a secure environment.

                If unsure, select "N".

config KEYSTORE_HARD_CODED_SEED
	bool "Keystore Hard-coded SEEDs and Keys (DANGEROUS!)"
	depends on KEYSTORE_FULL
        default n
	help
                Sets the keystore SEED a to fixed values instead
                of using values passed via the kernel command line.

                WARNING: This is only for testing purposes and should not be used
                for production as any data encrypted with keystore will be vulnerable
                to attack.

                If in doubt, select "N".

config DAL_KEYSTORE
        bool "DAL Keystore"
        depends on INTEL_MEI_DAL && KEYSTORE_FULL
        help
                Enable DAL Keystore

config DAL_KEYSTORE_APPLET_PATH
	string "DAL Keystore Applet path"
	depends on DAL_KEYSTORE
	default "/var/lib/intel/dal/applets/Keystore.pack"
	help
		The path for DAL Keystore applet file.

config DAL_KEYSTORE_APPLET_ID
	string "DAL Keystore Applet UUID"
	depends on DAL_KEYSTORE
	default "c12452f0adc640a78623708f0f4f0e52"
	help
		DAL Keystore applet UUID.

config DAL_KEYSTORE_CONF_PATH
	string "DAL Keystore Configuration File"
	depends on DAL_KEYSTORE
	default "/opt/ias/etc/dal-keystore.conf"
	help
		The path for DAL Keystore configuration file.
