.*.cmd
.tmp_versions/
*~
Module.markers
Module.symvers
*.ko
*.o
*.mod.c
modules.order
examples/async_cipher
examples/async_hmac
examples/async_speed
examples/cipher
examples/hmac
examples/speed
examples/sha_speed
examples/hashcrypt_speed
releases
scripts
version.h
