config BCMDHD
	tristate "Broadcom FullMAC wireless cards support"
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom FullMAC chipset.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_SDIO
	bool "SDIO bus interface support"
	depends on BCMDHD && MMC

config BCMDHD_PCIE
	bool "PCIe bus interface support"
	depends on BCMDHD && PCI

config BCMDYNAMIC
	bool "Broadcom 43241/4352 wireless card support"
	depends on BCMDHD

config BCM43241
	bool "Broadcom 43241 wireless card support"
	depends on BCMDHD && !BCMDYNAMIC

config BCM4354
	bool "Broadcom 4354 wireless cards PRC support"
	depends on BCMDHD && !BCM43241 && !BCMDYNAMIC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4354 chipset.

config BCM4339
	bool "Broadcom 4339 wireless cards PRC support"
	depends on BCMDHD && !BCM43241 && !BCM4354 && !BCMDYNAMIC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4339 chipset.

config BCMDHD_FW_PATH
	depends on BCMDHD
	string "Firmware path"
	default "/system/vendor/firmware/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.

config BCMDHD_NVRAM_PATH
	depends on BCMDHD
	string "NVRAM path"
	default "/system/etc/wifi/bcmdhd.cal"
	---help---
	  Path to the calibration file.

config BCMDHD_HW_OOB
	bool "Use out of band interrupt"
	depends on BCMDHD
	---help---
	  Use out of band interrupt for card interrupt and wake on wireless.

config BCMDHD_WEXT
	bool "Enable WEXT support"
	depends on BCMDHD && CFG80211 = n
	select WIRELESS_EXT
	select WEXT_PRIV
	help
	  Enables WEXT support

config DHD_USE_STATIC_BUF
	bool "Enable memory preallocation"
	depends on BCMDHD
	default n
	---help---
	  Use memory preallocated in platform

config DHD_USE_SCHED_SCAN
	bool "Use CFG80211 sched scan"
	depends on BCMDHD && CFG80211
	default n
	---help---
	  Use CFG80211 sched scan

config BCMDHD_DISABLE_MCC
	bool "Disable Multi channel concurrency"
	depends on BCMDHD
	---help---
	  Disable Multi channel concurrency to operate WLAN and P2P interfaces on same channel.

config BCMDHD_CUSTOM_SYSFS_TEGRA
	bool "Custom sysfs for Tegra platform"
	depends on BCMDHD
	---help---
	  Enable custom sysfs for Tegra platform.

config BCMDHD_CUSTOM_NET_PERF_TEGRA
	bool "Custom network performance boost for Tegra platform"
	depends on BCMDHD
	default y
	---help---
	  Enable custom network performance boost for Tegra platform.
	  Dynamically boosts clock frequencies based on network traffic
	  requirements.
