config VIDEO_INTEL_IPU
	tristate "Intel IPU driver"
	depends on ACPI && X86_64
	select IOMMU_API
	select IOMMU_IOVA
	select X86_DEV_DMA_OPS if X86
	select VIDEOBUF2_DMA_CONTIG
	select PHYS_ADDR_T_64BIT
	select COMMON_CLK
	---help---
	Say Y here!

choice
	prompt "intel ipu generation type"
	depends on VIDEO_INTEL_IPU
	default VIDEO_INTEL_IPU4

config VIDEO_INTEL_IPU4
	bool "Compile for IPU4 driver"
	---help---
	Say Y here!

config VIDEO_INTEL_IPU4P
	bool "Compile for IPU4P driver"
	---help---
	Say Y here!

endchoice

choice
	prompt "intel ipu hardware platform type"
	depends on VIDEO_INTEL_IPU
	default VIDEO_INTEL_IPU_SOC

config VIDEO_INTEL_IPU_SOC
	bool "Compile for SOC"
	---help---
	Select for SOC platform

endchoice

config VIDEO_INTEL_IPU_FW_LIB
	bool "Compile firmware library"
	---help---
	If selected, the firmware hostlib css would be compiled

config VIDEO_INTEL_IPU_WERROR
	bool "Force GCC to throw an error instead of a warning when compiling"
	depends on VIDEO_INTEL_IPU
	depends on EXPERT
	depends on !COMPILE_TEST
	default n
	help
	  Add -Werror to the build flags for (and only for) intel ipu module.
	  Do not enable this unless you are writing code for the ipu module.

	  Recommended for driver developers only.

	  If in doubt, say "N".
config VIDEO_INTEL_ICI
	depends on VIDEO_INTEL_IPU
	bool "Compile for ICI driver"
	---help---
	If selected ICI driver will be compiled

config VIDEO_INTEL_UOS
	bool "Compile driver per UOS"
	---help---
	If selected UOS driver components will be compiled

config VIDEO_INTEL_IPU_ACRN
	bool "Compile for virtio mediation"

choice
    prompt "Virtio driver type"
    depends on VIDEO_INTEL_IPU_ACRN
    default VIDEO_INTEL_IPU_VIRTIO_BE

config VIDEO_INTEL_IPU_VIRTIO_BE
    bool "Configure IPU4 as virtio backend"
    depends on VBS
	---help---
    Configuring IPU4 driver as virtio backend

config VIDEO_INTEL_IPU_VIRTIO_FE
    bool "Configure IPU4 as virtio frontend"
    ---help---
    Configuring IPU4 driver as virtio frontend

endchoice
