/* Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	i2c@7000c000 {
		mpu6515@69 {
			compatible = "invensense,mpu6xxx";
			reg = <0x69>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(S, 0) 0x01>;
			accelerometer_matrix = [ff 00 00 00 01 00 00 00 ff];
			gyroscope_matrix = [ff 00 00 00 01 00 00 00 ff];
			vlogic-supply = <&palmas_smps8>;
			vdd-supply = <&palmas_smps9>;
		};

		ak8963c@0d {
			compatible = "ak,ak89xx";
			reg = <0x0d>;
			magnetic_field_matrix = [ff 00 00 00 01 00 00 00 ff];
			vid-supply = <&palmas_smps8>;
			vdd-supply = <&palmas_smps9>;
		};

		cm3217@10 {
			compatible = "capella,cm3217";
			reg = <0x10>;
			vdd-supply = <&palmas_smps9>;
			light_dynamic_resolution_index_limit_low = <0>;
			light_dynamic_resolution_index_limit_high = <3>;
			light_lux_maximum = <3000000>;
			light_report_count = <2>;
			light_threshold_lo = <0>;
			light_threshold_hi = <1>;
			light_nld_thr_i_hi_0 = <40>;
			light_nld_thr_i_lo_1 = <18>;
			light_nld_thr_i_hi_1 = <55>;
			light_nld_thr_i_lo_2 = <24>;
			light_nld_thr_i_hi_2 = <50>;
			light_nld_thr_i_lo_3 = <23>;
			light_uncalibrated_lo = <60>;
			light_uncalibrated_hi = <1845>;
			light_calibrated_lo = <8900>;
			light_calibrated_hi = <312000>;
		};

		ltr659@23 {
			status = "disabled";
			compatible = "liteon,ltrX5X";
			reg = <0x23>;
			vdd-supply = <&palmas_smps9>;
			vled-supply = <&palmas_smps8>;
			proximity_threshold_lo = <120>;
			proximity_threshold_hi = <130>;
		};
	};

	i2c@7000c400 {
		status = "okay";

		iqs253@44 {
			compatible = "azoteq,iqs253";
			reg = <0x44>;
			vddhi-supply = <&palmas_smps9>;
			vendor = "Azoteq";
			proximity,max-range = "2"; /* 2 cm */
			proximity,integration-time = "16000000"; /* 16 msec */
			proximity,power-consumed = "1.67"; /* approx mA */
			rdy-gpio = <&gpio TEGRA_GPIO(K, 5) GPIO_ACTIVE_LOW>;
			wake-gpio = <&gpio TEGRA_GPIO(W, 3) GPIO_ACTIVE_LOW>;
			sar-gpio = <&gpio TEGRA_GPIO(I, 2) GPIO_ACTIVE_LOW>;
		};
	};
};
