/*
 * tegra124-green-arrow-p2267-fixed-1936-1000-a00.dtsi: GPIO based regulators
 *
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vdd_ac_bat_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd_ac_bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		vdd_ts_1v8: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "vdd_ts_1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(K, 1) 0>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			vin-supply = <&palmas_smps8>;
		};

		avdd_ts_3v3: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "avdd_ts_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&palmas_gpio 2 0>;
			enable-active-high;
			vin-supply = <&ldousb_reg>;
		};

		en_vdd_cam_1v8: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "vdd-cam-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&palmas_gpio 4 0>;
			enable-active-high;
		};

		en_vdd_cam_1v2: regulator@4 {
			compatible = "regulator-fixed-sync";
			reg = <4>;
			regulator-name = "vdd-cam-1v2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&gpio TEGRA_GPIO(S, 2) 0>;
			enable-active-high;
		};

		vdd_sys_boost: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "vdd-5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			regulator-disable-on-suspend;
			startup-delay-us = <1000>;
			gpio = <&palmas_gpio 1 0>;
			enable-active-high;
		};

		vdd_lcd_1v8: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "vdd-lcd-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&palmas_gpio 6 0>;
			enable-active-high;
		};

		vdd_hdmi: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(K, 6) 0>;
			enable-active-high;
			vin-supply = <&vdd_sys_boost>;
		};

		vdd_sd_hv_con: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			regulator-name = "vdd-sd-hv-con";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			gpio = <&gpio TEGRA_GPIO(R, 0) 0>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			vin-supply = <&palmas_smps9>;
		};

		avdd_hdmi: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "avdd-hdmi";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(N, 5) 0>;
			enable-active-high;
			vin-supply = <&ldoln_reg>;
		};

		avdd_hdmi_pll: regulator@10 {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			regulator-name = "avdd-hdmi-pll";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};
	};
};
