config ACRN_SHARED_BUFFER
	bool "Intel ACRN SHARED BUFFER"
	---help---
	  Ring buffer shared between ACRN Hypervisor and its SOS.
	  Help ACRN performance profiling.

config ACRN_TRACE
	tristate "Intel ACRN Hypervisor Trace support"
	select ACRN_SHARED_BUFFER
	---help---
		This is the Trace driver for the Intel ACRN hypervisor.
		You can say y to build it into the kernel, or m to build
		it as a module.

config ACRN_HVLOG
	bool "Intel ACRN Hypervisor Logmsg support"
	select ACRN_SHARED_BUFFER
	---help---
		This is the Trace driver for the Intel ACRN hypervisor log.
		You can say y to build it into the kernel.
