config SND_SOC_SOF_PCI
	tristate

config SND_SOC_SOF_ACPI
	tristate

config SND_SOC_SOF_PLATFORM
	tristate


config SND_SOC_SOF
	tristate "Sound Open Firmware Support"
	default m
	depends on SND_DMA_SGBUF
	select SND_SOC_TOPOLOGY
	select SND_SOC_COMPRESS
	help
          This adds support for SOF
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_NOCODEC
	tristate "SOF nocodec mode Support"
	depends on SND_SOC_SOF
	help
          This adds support for a dummy/nocodec machine driver fallback
	  option if no known codec is detected. This is typically only
	  enabled for developers or devices where the sound card is
	  controlled externally
          Say Y if you need this nocodec fallback option
          If unsure select "N".

config SND_SOC_SOF_FORCE_NOCODEC_MODE
	tristate "SOF force nocodec Mode"
	depends on SND_SOC_SOF_NOCODEC
	help
          This forces SOF to use dummy/nocodec as machine driver, even
	  though there is a codec detected on the real platform. This is
	  typically only enabled for developers for debug purposes, before
	  codec/machine driver is ready, or to exclude the impact of those
	  drivers
          Say Y if you need this force nocodec mode option
          If unsure select "N".

config SND_SOC_SOF_INTEL
	tristate "SOF support for Intel audio DSPs"
	depends on SND_SOC_SOF
	select SND_SOC_INTEL_MACH
	help
          This adds support for Sound Open Firmware for Intel(R) platforms.
          Say Y if you have such a device.
          If unsure select "N".

if SND_SOC_SOF_INTEL

config SND_SOC_SOF_BAYTRAIL
	tristate "SOF support for Baytrail, Braswell and Cherrytrail"
	select SND_SOC_SOF_ACPI
	select SND_SOC_ACPI_INTEL_MATCH
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Baytrail, Braswell or Cherrytrail processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_HASWELL
	tristate "SOF support for Haswell"
	select SND_SOC_SOF_ACPI
	select SND_SOC_ACPI_INTEL_MATCH
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Haswell processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_BROADWELL
	tristate "SOF support for Broadwell"
	depends on SND_SOC_SOF_INTEL
	select SND_SOC_SOF_ACPI
	select SND_SOC_ACPI_INTEL_MATCH
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Broadwell processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_APOLLOLAKE
	tristate "SOF support for Apollolake"
	select SND_SOC_SOF_HDA_COMMON
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Apollolake processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_CANNONLAKE
	tristate "SOF support for Cannonlake"
	select SND_SOC_SOF_HDA_COMMON
	help
          This adds support for Sound Open Firmware for Intel(R) platforms
          using the Cannonlake processors.
          Say Y if you have such a device.
          If unsure select "N".

config SND_SOC_SOF_HDA_COMMON
	tristate
	select SND_SOC_SOF_PCI
	select SND_SOC_ACPI_INTEL_MATCH

endif ## SND_SOC_SOF_INTEL
