config TEGRA18X_WATCHDOG
	tristate "Tegra T18x watchdog"
	depends on ARCH_TEGRA_18x_SOC
	help
	  Say Y here to include support for the watchdog timer
	  embedded in NVIDIA Tegra SoCs.

	  To compile this driver as a module, choose M here: the
	  module will be called tegra18x_wdt.
