config MTTCAN
	tristate "Bosch M_TTCAN Devices"
	depends on ARCH_TEGRA_18x_SOC && CAN
	select STAGING
	help
	  Support for the Bosch M_TTCAN driver. The Bosch MTTCAN CAN
	  controller is having two independent CAN interfaces. These
	  intefaces supports CAN-FD and TT-CAN. This driver will require
	  SocketCAN support enabled in kernel.
