config I2C_BPMP_TEGRA
	tristate "NVIDIA Tegra internal BPMP I2C controller"
	depends on TEGRA_BPMP
	default y
	select I2C_ALGO_BUSCLEAR
	select I2C_ALGOBIT
	help
	  If you say yes to this option, support will be included for the
	  I2C controller embedded in NVIDIA Tegra SOCs accessed via BPMP.
	  This I2C driver is a 'virtual' I2C driver. The real driver is
	  embedded in the BPMP firmware, and this driver merely communicates
	  with that real driver.
config TEGRA_I2CSLV_T186
	bool "Tegra i2c slave controller driver"
	default y
	help
	  Enable on-chip i2c slave controller.
