/*
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
/ {
	i2c@7000c400 {
		pca9546@71 {
			compatible = "nxp,pca9546";
			reg = <0x71>;
			#address-cells = <1>;
			#size-cells = <0>;
			vcc-supply = <&vdd_snsr_pm>;
			i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				ina3221x@40 {
					compatible = "ti,ina3221x";
					reg = <0x40>;
					ti,trigger-config = <0x7003>;
					ti,continuous-config = <0x7c07>;
					#address-cells = <1>;
					#size-cells = <0>;
					channel@0 {
						reg = <0x0>;
						ti,rail-name = "VDD_BAT";
						ti,shunt-resistor-mohm = <5>;
					};

					channel@1 {
						reg = <0x1>;
						ti,rail-name = "VDD_5V0";
						ti,shunt-resistor-mohm = <20>;
					};

					channel@2 {
						reg = <0x2>;
						ti,rail-name = "VDD_SYS_MDM";
						ti,shunt-resistor-mohm = <1>;
					};
				};

				ina3221x@41 {
					compatible = "ti,ina3221x";
					reg = <0x41>;
					ti,trigger-config = <0x7003>;
					ti,continuous-config = <0x7c07>;
					#address-cells = <1>;
					#size-cells = <0>;
					channel@0 {
						reg = <0x0>;
						ti,rail-name = "VDD_GPU";
						ti,shunt-resistor-mohm = <1>;
					};

					channel@1 {
						reg = <0x1>;
						ti,rail-name = "VDD_SOC";
						ti,shunt-resistor-mohm = <1>;
					};

					channel@2 {
						reg = <0x2>;
						ti,rail-name = "VDD_CPU";
						ti,shunt-resistor-mohm = <1>;
					};
				};
			};

			i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				ina226@41 {
					compatible = "ti,ina226x";
					reg = <0x41>;
					ti,rail-name = "VDD_BAT_CHG";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <5>;
					ti,calibration-data = <0x0BEA>;
					ti,power-lsb = <8393>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@42 {
					compatible = "ti,ina226x";
					reg = <0x42>;
					ti,rail-name = "VDD_SYS_CPU_OVR";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <5>;
					ti,calibration-data = <0x13DC>;
					ti,power-lsb = <5035>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@43 {
					compatible = "ti,ina226x";
					reg = <0x43>;
					ti,rail-name = "VDD_SYS_GPU_OVR";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <5>;
					ti,calibration-data = <0x1D20>;
					ti,power-lsb = <3433>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@48 {
					compatible = "ti,ina226x";
					reg = <0x48>;
					ti,rail-name = "VDD_SOC";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <5>;
					ti,calibration-data = <0x48D1>;
					ti,power-lsb = <1373>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@49 {
					compatible = "ti,ina226x";
					reg = <0x49>;
					ti,rail-name = "VDD_SYS_SD1";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <5>;
					ti,calibration-data = <0x51EB>;
					ti,power-lsb = <1220>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@4b {
					compatible = "ti,ina226x";
					reg = <0x4B>;
					ti,rail-name = "VDD_SYS_MDM1";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <1>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <1581>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@4c {
					compatible = "ti,ina226x";
					reg = <0x4C>;
					ti,rail-name = "VDD_SYS_BL_1S";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <10>;
					ti,calibration-data = <0x20C4>;
					ti,power-lsb = <1525>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@4e {
					compatible = "ti,ina226x";
					reg = <0x4E>;
					ti,rail-name = "VDD_SYS_COM";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <100>;
					ti,calibration-data = <0x4040>;
					ti,power-lsb = <77>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;

				};
			};

			i2c@2 {
				reg = <2>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
				ina226@41 {
					compatible = "ti,ina226x";
					reg = <0x41>;
					ti,rail-name = "VDD_RTC_AP";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <100>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <38>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@42 {
					compatible = "ti,ina226x";
					reg = <0x42>;
					ti,rail-name = "VDD_GEN_PLL_EDP_1V05";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <50>;
					ti,calibration-data = <0x1D20>;
					ti,power-lsb = <343>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@43 {
					compatible = "ti,ina226x";
					reg = <0x43>;
					ti,rail-name = "VDD_DIS_3V3_LCD";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <10>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <213>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@48 {
					compatible = "ti,ina226x";
					reg = <0x48>;
					ti,rail-name = "VDD_LCD_1V8_DIS";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <100>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <38>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
			};

			i2c@3 {
				reg = <3>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				ina226@45 {
					compatible = "ti,ina226x";
					reg = <0x45>;
					ti,rail-name = "VDD_DDR";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x7FFF>;
					ti,resistor = <1>;
					ti,power-lsb = <1295>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@48 {
					compatible = "ti,ina226x";
					reg = <0x48>;
					ti,rail-name = "VDD_GPU";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x268C>;
					ti,resistor = <1>;
					ti,power-lsb = <1296>;
					ti,divisor = <25>;
					ti,precision-multiplier = <10000>;
				};
				ina226@49 {
					compatible = "ti,ina226x";
					reg = <0x49>;
					ti,rail-name = "VDD_SOC_AP";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <1>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <3051>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@4b {
					compatible = "ti,ina226x";
					reg = <0x4b>;
					ti,rail-name = "VDD_CPU_AP";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,calibration-data = <0x3548>;
					ti,resistor = <1>;
					ti,power-lsb = <9384>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@4c {
					compatible = "ti,ina226x";
					reg = <0x4c>;
					ti,rail-name = "VDD_PMU_1V8";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <5>;
					ti,calibration-data = <0x4189>;
					ti,power-lsb = <1525>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
				ina226@4e {
					compatible = "ti,ina226x";
					reg = <0x4e>;
					ti,rail-name = "AVDD_1V05_GEN_PLL";
					ti,continuous-config = <0x0407>;
					ti,trigger-config = <0x0403>;
					ti,resistor = <30>;
					ti,calibration-data = <0x7FFF>;
					ti,power-lsb = <6>;
					ti,divisor = <25>;
					ti,precision-multiplier = <1000>;
				};
			};
		};
	};
};
