/*
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	i2c@7000c000 {
	       tca9539_74: tca9539@74 {
			compatible = "ti,tca9539";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x74>;
/*
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(L, 1) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
*/
		};

		tca9539_77: tca9539@77 {
			compatible = "ti,tca9539";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x77>;
/*
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(K, 4) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
*/
		};
	};

	regulators {
		compatible = "simple-bus";
		device_type = "fixed-regulators";
		#address-cells = <1>;
		#size-cells = <0>;

		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		en_vdd_sd: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "en-vdd-sd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tca9539_77 1 1>;
			enable-active-high;
		};

		en_vdd_cam: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "en-vdd-cam";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&tca9539_77 9 1>;
			enable-active-high;
		};

		vdd_hdmi: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tca9539_74 12 1>;
			enable-active-high;
		};

		en_vdd_cpu_fixed: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "vdd-cpu-fixed";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
		};

		vdd_usb0_5v: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "vdd-usb0-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 4) 0>;
			enable-active-high;
		};

		vdd_usb1_5v: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "vdd-usb1-5v";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 5) 0>;
			enable-active-high;
		};

		en_vdd_ts_1v8: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			regulator-name = "en-vdd-ts-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&tca9539_74 1 1>;
			enable-active-high;
		};

		en_vdd_ts_hv_3v3: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			regulator-name = "en-vdd-ts-hv-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tca9539_74 2 1>;
			enable-active-high;
		};

		en_avdd_disp_3v3: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "en-vdd-disp-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tca9539_74 3 1>;
			enable-active-high;
		};

		en_mdm_pwr_3v7: regulator@10 {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			regulator-name = "en-mdm-pwr-3v7";
			regulator-min-microvol = <3700000>;
			regulator-max-microvol = <3700000>;
			gpio = <&tca9539_74 7 1>;
			enable-active-high;
		};

		en_vdd_disp_1v8: regulator@11 {
			compatible = "regulator-fixed-sync";
			reg = <11>;
			regulator-name = "en-vdd-disp-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&tca9539_74 9 1>;
			enable-active-high;
		};

		en_vdd_cam_hv_2v8: regulator@12 {
			compatible = "regulator-fixed-sync";
			reg = <12>;
			regulator-name = "en-vdd-cam-hv-2v8";
			regulator-min-microvol = <2800000>;
			regulator-max-microvol = <2800000>;
			gpio = <&tca9539_74 13 1>;
			enable-active-high;
		};

		en_vdd_cam_1v2: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "en-vdd-cam-1v2";
			regulator-min-microvol = <1200000>;
			regulator-max-microvol = <1200000>;
			gpio = <&tca9539_77 10 1>;
			enable-active-high;
		};

		vdd_fan: regulator@14 {
			compatible = "regulator-fixed-sync";
			reg = <14>;
			regulator-name = "vdd-fan";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tca9539_74 4 0>;
			regulator-always-on;
		};

		vdd_3v3: regulator@15 {
				compatible = "regulator-fixed-sync";
				reg = <15>;
				regulator-name = "vdd-3v3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
		};

		dis_vdd_1v2: regulator@16 {
			compatible = "regulator-fixed-sync";
			reg = <16>;
			regulator-name = "dis-vdd-1v2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&tca9539_74 10 1>;
			enable-active-high;
		};
	};
};
