/*
 * Copyright (c) 2014-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include "tegra210-ers-pmic-e2174-1101-a00.dtsi"
#include "tegra210-ers-fixed-e2174-1101-a00.dtsi"
#include "tegra210-ers-power-dvfs-e2174-1101-a00.dtsi"

/ {
	i2c@7000d000 {
		max77620@3c {
			regulators {
				sd0 {
					regulator-enable-ramp-delay = <120>;
					regulator-disable-ramp-delay = <1720>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <400>;
				};

				sd1 {
					regulator-enable-ramp-delay = <120>;
					regulator-disable-ramp-delay = <29200>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <400>;
				};

				sd2 {
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					maxim,suspend-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <164>;
					regulator-disable-ramp-delay = <7320>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <400>;
				};

				sd3 {
					regulator-enable-ramp-delay = <204>;
					regulator-disable-ramp-delay = <58000>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <400>;
				};

				ldo0 {
					regulator-enable-ramp-delay = <88>;
					regulator-disable-ramp-delay = <4480>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <800>;
				};

				ldo1 {
					regulator-enable-ramp-delay = <96>;
					regulator-disable-ramp-delay = <3160>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <1050>;
				};

				ldo2 {
					regulator-enable-ramp-delay = <124>;
					regulator-disable-ramp-delay = <5160>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <800>;
				};

				ldo3 {
					regulator-enable-ramp-delay = <56>;
					regulator-disable-ramp-delay = <788>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo4 {
					regulator-enable-ramp-delay = <18>;
					regulator-disable-ramp-delay = <568>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo5 {
					regulator-enable-ramp-delay = <300>;
					regulator-disable-ramp-delay = <7360>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <1100>;
				};

				ldo6 {
					regulator-enable-ramp-delay = <204>;
					regulator-disable-ramp-delay = <4720>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <800>;
				};

				ldo7 {
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					maxim,suspend-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <112>;
					regulator-disable-ramp-delay = <11720>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <1100>;
				};

				ldo8 {
					regulator-enable-ramp-delay = <48>;
					regulator-disable-ramp-delay = <6160>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <500>;
				};
			};
		};
	};

	regulators {
		regulator@1 {
			regulator-enable-ramp-delay = <720>;
			regulator-disable-ramp-delay = <14480>;
		};

		regulator@2 {
			regulator-enable-ramp-delay = <1056>;
			regulator-disable-ramp-delay = <2580>;
		};

		regulator@4 {
			regulator-enable-ramp-delay = <360>;
			regulator-disable-ramp-delay = <5880>;
		};

		regulator@5 {
			regulator-enable-ramp-delay = <704>;
			regulator-disable-ramp-delay = <220>;
		};

		regulator@6 {
			regulator-enable-ramp-delay = <3000>;
			regulator-disable-ramp-delay = <584000>;
		};

		regulator@7 {
			regulator-enable-ramp-delay = <468>;
			regulator-disable-ramp-delay = <398>;
		};

		regulator@12 {
			regulator-enable-ramp-delay = <340>;
			regulator-disable-ramp-delay = <6480>;
		};

			
		vdd_usb_5v0: regulator@11 {
			status = "okay";
			gpio = <&pca9539_76 6 0>;
		};

		vdd_usb_oc_5v0: regulator@21 {
			compatible = "regulator-pinmux-fixed";
			reg = <21>;
			status = "okay";
			regulator-name = "vdd-usb-oc-5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_3v3>;
			enable-active-high;
			pinctrl-names = "enable", "disable";
			pinctrl-0 = <&regulator_enable_state>;
			pinctrl-1 = <&regulator_disable_state>;
		};

		vdd_cdc_1v2_aud: regulator@101 {
			status = "okay";
			gpio = <&pca9539_76 9 0>;
		};
	};

	efuse@7000f800 {
		vpp_fuse-supply = <&max77620_sd3>;
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
			avdd_lcd-supply = <&max77620_gpio7>;
			dvdd_lcd-supply = <&max77620_sd3>;
			vdd_lcd_bl_en-supply = <&lcd_bl_en>;
			vdd_lcd_bl-supply = <&battery_reg>;
			vdd_ds_1v8-supply = <&battery_reg>;
		};
		/* tegradc.1 */
		dc@54240000 {
			avdd_hdmi-supply = <&max77620_ldo8>;
			avdd_hdmi_pll-supply = <&max77620_sd3>;
			vdd_hdmi_5v0-supply = <&vdd_hdmi>;
			vdd_lcd_bl-supply = <&battery_reg>;
			vdd_ds_1v8-supply = <&battery_reg>;

			/* dp */
			vdd-dp-pwr-supply = <&vdd_3v3>;
			avdd-dp-pll-supply = <&max77620_sd3>;
			vdd-edp-sec-mode-supply = <&vdd_sys_boost>;
			vdd-dp-pad-supply = <&max77620_ldo8>;
		};
		vi {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
		};
		i2c@546c0000 {
			bus-pullup-supply = <&en_vdd_cam>;
		};
	};

	i2c@7000c000 {
		pca9546@71 {
			vcc-supply = <&vdd_aux_3v3>;
		};

		icm20628@69 {
			vlogic-supply = <&max77620_sd3>;
			vdd-supply = <&vdd_3v3>;
		};

		ak8963c@0d {
			vid-supply = <&max77620_sd3>;
			vdd-supply = <&vdd_3v3>;
		};

		bmp280@77 {
			vddio-supply = <&max77620_sd3>;
			vdd-supply = <&vdd_3v3>;
		};

		cm3217@10 {
			vdd-supply = <&vdd_3v3>;
		};

		ltr659@23 {
			vdd-supply = <&vdd_3v3>;
			vled-supply = <&vdd_3v3>;
		};

		iqs253@44 {
			vddhi-supply = <&vdd_3v3>;
		};
	};

	xusb@70090000 {
		usb_vbus0-supply = <&usb0_vbus>;
		/* Use the below regulators when OC support is enabled
		usb_vbus1-supply = <&vdd_usb_oc_5v0>;
		usb_vbus2-supply = <&vdd_usb_oc_5v0>;
		usb_vbus3-supply = <&vdd_usb_oc_5v0>;
		*/
		usb_vbus1-supply = <&vdd_usb_5v0>;
		usb_vbus2-supply = <&vdd_usb_5v0>;
		usb_vbus3-supply = <&vdd_usb_5v0>;
		hvdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		vddio_hsic-supply = <&max77620_ldo0>;
		avddio_usb-supply = <&max77620_ldo1>;
		dvdd_sata-supply = <&max77620_ldo8>;
	};

	xudc@700d0000 {
		hvdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		avddio_usb-supply = <&max77620_ldo1>;
	};

	xotg {
		usb_vbus-supply = <&usb0_vbus>;
	};

	xusb_padctl {
		avdd_pll_uerefe-supply = <&max77620_ldo7>;
		hvdd_pex_pll_e-supply = <&max77620_sd3>;
		dvdd_pex_pll-supply = <&max77620_ldo1>;
		hvddio_pex-supply = <&max77620_sd3>;
		dvddio_pex-supply = <&max77620_ldo1>;
		hvdd_sata-supply = <&max77620_sd3>;
		dvdd_sata_pll-supply = <&max77620_ldo8>;
		hvddio_sata-supply = <&max77620_sd3>;
		dvddio_sata-supply = <&max77620_ldo8>;
	};

        sata@70020000 {
		dvdd_sata_pll-supply = <&max77620_ldo8>;
		hvdd_sata-supply = <&max77620_sd3>;
		l0_hvddio_sata-supply = <&max77620_sd3>;
		l0_dvddio_sata-supply = <&max77620_ldo8>;
		hvdd_pex_pll_e-supply = <&max77620_sd3>;
        };

	sound {
		ldoen-supply = <&vdd_cdc_1v2_aud>;
		spkvdd-supply = <&vdd_sys_boost>;
		dbvdd-supply = <&max77620_sd3>;
		avdd-supply = <&max77620_sd3>;
		dmicvdd-supply = <&max77620_sd3>;
	};

	pmc-iopower {
		iopower-sys-supply = <&max77620_sd3>;
		iopower-uart-supply = <&max77620_sd3>;
		iopower-audio-supply = <&max77620_sd3>;
		iopower-cam-supply = <&max77620_sd3>;
		iopower-pex-ctrl-supply = <&max77620_sd3>;
		iopower-sdmmc1-supply = <&max77620_sd3>;
		iopower-sdmmc3-supply = <&max77620_ldo2>;
		iopower-sdmmc4-supply = <&max77620_sd3>;
		iopower-audio-hv-supply = <&max77620_sd3>;
		iopower-debug-supply = <&max77620_sd3>;
		iopower-dmic-supply = <&max77620_sd3>;
		iopower-gpio-supply = <&max77620_sd3>;
		iopower-spi-supply = <&max77620_sd3>;
		iopower-spi-hv-supply = <&max77620_sd3>;
		iopower-sdmmc2-supply = <&max77620_sd3>;
		iopower-dp-supply = <&max77620_sd3>;
	};

	udc@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_bat_chg-supply = <&battery_charger>;
	};

	usb_cd@7009f000 {
		usb_bat_chg-supply = <&battery_charger>;
	};

	otg@7d000000 {
		usb_vbus-supply = <&usb0_vbus>;
	};

	ehci@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_vbus-supply = <&usb0_vbus>;
	};

	bluedroid_pm {
		avdd-supply = <&battery_reg>;
		dvdd-supply = <&max77620_sd3>;
	};

	tegra210-vrail-test {
		compatible = "nvidia,tegra-vin-test";
		vddio-sdmmc3-supply = <&max77620_ldo2>;
		vddio-sdmmc4-supply = <&max77620_sd3>;
		vddio-sdmmc1-supply =  <&max77620_sd3>;
		vddio-sdmmc2-supply = <&max77620_sd3>;
	};

	pmc@7000e400 {
		bootrom-commands {
			commands@4-003c {
				nvidia,command-names = "pmic-rails";
				reg = <0x3c>;
				nvidia,enable-8bit-register;
				nvidia,enable-8bit-data;
				nvidia,controller-type-i2c;
				nvidia,controller-id = <4>;
				nvidia,enable-controller-reset;
				nvidia,write-commands = <0x00000016 0x00000020>;
			};
		};
	};
};
