/*
 * Copyright (c) 2014-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

#include "tegra210-ers-pmic-e2174-1101-a00.dtsi"
#include "tegra210-ers-fixed-e2174-1101-a00.dtsi"
#include "tegra210-ers-power-dvfs-e2174-1101-a00.dtsi"

/ {

	i2c@7000d000 {
		max77620@3c {
			regulators {
				sd0 {
					regulator-enable-ramp-delay = <146>;
					regulator-disable-ramp-delay = <4080>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <300>;
				};

				sd1 {
					regulator-enable-ramp-delay = <130>;
					regulator-disable-ramp-delay = <145800>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <300>;
				};

				sd2 {
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					maxim,suspend-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <176>;
					regulator-disable-ramp-delay = <32000>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <350>;
				};

				sd3 {
					regulator-enable-ramp-delay = <242>;
					regulator-disable-ramp-delay = <118000>;
					regulator-ramp-delay = <27500>;
					regulator-ramp-delay-scale = <360>;
				};

				ldo0 {
					regulator-enable-ramp-delay = <26>;
					regulator-disable-ramp-delay = <626>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo1 {
					regulator-enable-ramp-delay = <22>;
					regulator-disable-ramp-delay = <630>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo2 {
					regulator-enable-ramp-delay = <62>;
					regulator-disable-ramp-delay = <650>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo3 {
					regulator-enable-ramp-delay = <50>;
					regulator-disable-ramp-delay = <1110>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo4 {
					regulator-enable-ramp-delay = <22>;
					regulator-disable-ramp-delay = <610>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
					regulator-disable-active-discharge;
				};

				ldo5 {
					regulator-enable-ramp-delay = <62>;
					regulator-disable-ramp-delay = <640>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo6 {
					regulator-enable-ramp-delay = <36>;
					regulator-disable-ramp-delay = <674>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo7 {
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					maxim,suspend-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <24>;
					regulator-disable-ramp-delay = <2768>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};

				ldo8 {
					regulator-enable-ramp-delay = <22>;
					regulator-disable-ramp-delay = <1160>;
					regulator-ramp-delay = <100000>;
					regulator-ramp-delay-scale = <200>;
				};
			};
		};
	};

	regulators {
		regulator@1 {
			regulator-enable-ramp-delay = <160>;
			regulator-disable-ramp-delay = <10000>;
		};

		regulator@2 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-enable-ramp-delay = <240>;
			regulator-disable-ramp-delay = <11340>;
		};

		regulator@4 {
			regulator-enable-ramp-delay = <472>;
			regulator-disable-ramp-delay = <4880>;
		};

		regulator@6 {
			regulator-enable-ramp-delay = <3090>;
		};

		regulator@7 {
			regulator-enable-ramp-delay = <468>;
			regulator-disable-ramp-delay = <13000>;
		};

		vdd_disp_3v0: regulator@12 {
			compatible = "regulator-fixed-sync";
			reg = <12>;
			regulator-name = "vdd-disp-3v0";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			gpio = <&gpio TEGRA_GPIO(I, 3) 0>;
			regulator-boot-on;
			enable-active-high;
			regulator-enable-ramp-delay = <232>;
		};

		vdd_fan: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "vdd-fan";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(E, 4) 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <284>;
			regulator-disable-ramp-delay = <6200>;
		};

		vdd_disp_3v3: regulator@14 {
			compatible = "regulator-fixed-sync";
			reg = <14>;
			regulator-name = "vdd-disp-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(G, 3) 0>;
			regulator-boot-on;
			enable-active-high;
		};
	};

	i2c@7000c000 {
		icm20628@68 {
			vlogic-supply = <&max77620_sd3>;
			vdd-supply = <&max77620_ldo3>;
		};

		ak8963c@0c {
			vid-supply = <&max77620_sd3>;
			vdd-supply = <&max77620_ldo3>;
		};

		jsa1127@39 {
			vdd-supply = <&vdd_disp_3v0>;
		};

	};

	i2c@546c0000 {
		bus-pullup-supply = <&max77620_sd3>;
	};

	efuse@7000f800 {
		vpp_fuse-supply = <&max77620_sd3>;
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
			avdd_lcd-supply = <&vdd_disp_3v0>;
			dvdd_lcd-supply = <&max77620_sd3>;
			vdd_lcd_bl_en-supply = <&lcd_bl_en>;
		};

		/* tegradc.1 */
		dc@54240000 {
			avdd_hdmi-supply = <&max77620_ldo8>;
			avdd_hdmi_pll-supply = <&max77620_sd3>;
			vdd_hdmi_5v0-supply = <&vdd_hdmi>;
		};

		vi {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
		};
	};

	sound {
		ldoen-supply = <&vdd_sys_boost>;
		spkvdd-supply = <&vdd_sys_boost>;
		dbvdd-supply = <&vdd_sys_boost>;
		dmicvdd-supply = <&max77620_sd3>;
	};

	udc@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_bat_chg-supply = <&battery_charger>;
	};

	ehci@7d000000 {
		avdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		usb_vbus-supply = <&usb0_vbus>;
	};

	usb_cd@7009f000 {
		usb_bat_chg-supply = <&battery_charger>;
	};

	xusb@70090000 {
		usb_vbus0-supply = <&usb0_vbus>;
		usb_vbus2-supply = <&battery_reg>;
		hvdd_usb-supply = <&vdd_3v3>;
		usb_vbus2-supply = <&battery_reg>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		vddio_hsic-supply = <&max77620_ldo0>;
		avddio_usb-supply = <&vdd_3v3>;
		dvdd_sata-supply = <&max77620_ldo8>;
		avddio_pll_uerefe-supply = <&max77620_ldo7>;
	};

	xudc@700d0000 {
		hvdd_usb-supply = <&vdd_3v3>;
		avdd_pll_utmip-supply = <&max77620_sd3>;
		avddio_usb-supply = <&vdd_3v3>;
		avddio_pll_uerefe-supply = <&max77620_ldo7>;
        };

	xotg {
		usb_vbus-supply = <&usb0_vbus>;
	};

	otg@7d000000 {
		usb_vbus-supply = <&usb0_vbus>;
		usb_bat_chg-supply = <&battery_charger>;
	};

	sdhci@700b0600 {
		vddio_sdmmc-supply = <&max77620_sd3>; /* SDMMC4 for EMMC on loki */
		vddio_sd_slot-supply = <&vdd_3v3>;
	};

	sdhci@700b0400 {
		vddio_sdmmc-supply = <&max77620_sd3>; /* SDMMC3 for 2nd Wifi on loki */
		vddio_sd_slot-supply = <&vdd_3v3>; /* SDMMC3 no stuff for full size SD on foster */
	};

	sdhci@700b0200 {
		vddio_sdmmc-supply = <&max77620_sd3>; /* SDMMC2 for Wifi on loki */
		vddio_sd_slot-supply = <&vdd_3v3>;
	};

	sdhci@700b0000 {
		vddio_sdmmc-supply = <&max77620_ldo2>; /* SDMMC1 for SD card on loki */
		vddio_sd_slot-supply = <&en_vdd_sd>;
	};

	bluedroid_pm {
		avdd-supply = <&battery_reg>;
		dvdd-supply = <&max77620_sd3>;
	};

	pwm-fan {
		vdd-fan-supply = <&vdd_fan>;
	};

	pmc-iopower {
		iopower-sys-supply = <&max77620_sd3>;
		iopower-uart-supply = <&max77620_sd3>;
		iopower-audio-supply = <&max77620_sd3>;
		iopower-cam-supply = <&max77620_sd3>;
		iopower-pex-ctrl-supply = <&max77620_sd3>;
		iopower-sdmmc1-supply = <&max77620_ldo2>;
		iopower-sdmmc3-supply = <&max77620_sd3>;
		iopower-sdmmc4-supply = <&max77620_sd3>;
		iopower-audio-hv-supply = <&max77620_sd3>;
		iopower-debug-supply = <&max77620_sd3>;
		iopower-dmic-supply = <&max77620_sd3>;
		iopower-gpio-supply = <&max77620_sd3>;
		iopower-spi-supply = <&max77620_sd3>;
		iopower-spi-hv-supply = <&max77620_sd3>;
		iopower-sdmmc2-supply = <&max77620_sd3>;
		iopower-dp-supply = <&max77620_sd3>;
	};
};
