/*
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	i2c@7000c400 {
	       tca9539_74: tca9539@74 {
			compatible = "ti,tca9539";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x74>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(L, 1) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		tca9539_77: tca9539@77 {
			compatible = "ti,tca9539";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x77>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(Z, 2) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};
	};

	regulators {
		compatible = "simple-bus";
		device_type = "fixed-regulators";
		#address-cells = <1>;
		#size-cells = <0>;

		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		vdd_3v3: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			gpio = <&max77620 3 0>;
			enable-active-high;
			consumers {
				c1 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.0";
				};
				c2 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.1";
				};
				c3 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.2";
				};
				c5 {
					regulator-consumer-supply = "vdd";
					regulator-consumer-device = "1-004d";
				};
			};
		};

		max77620_gpio7: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "max77620-gpio7";
			regulator-min-microvolt = <1050000>;
			regulator-max-microvolt = <1050000>;
			vin-supply = <&max77620_ldo7>;
			regulator-boot-on;
			gpio = <&max77620 7 0>;
			enable-active-high;
		};

		lcd_bl_en: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "lcd-bl-en";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-boot-on;
			gpio = <&gpio TEGRA_GPIO(V, 1) 0>;
			enable-active-high;
		};

		en_vdd_sd: regulator@4 {
			compatible = "regulator-fixed-sync";
			reg = <4>;
			regulator-name = "en-vdd-sd";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(Z, 3) 0>;
			enable-active-high;
			vin-supply = <&vdd_3v3>;
		};

		en_vdd_cam: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "en-vdd-cam";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&tca9539_77 9 1>;
			enable-active-high;
			consumers {
				c1 {
					regulator-consumer-supply = "vif";
				};
			};
		};

		vdd_sys_boost: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "vdd-sys-boost";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			gpio = <&max77620 1 0>;
			enable-active-high;
		};

		vdd_hdmi: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tca9539_74 12 1>;
			vin-supply = <&vdd_3v3>;
			enable-active-high;
		};

		en_vdd_cpu_fixed: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "vdd-cpu-fixed";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
		};

		vdd_aux_3v3: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "aux-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		vdd_snsr_pm: regulator@10 {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			regulator-name = "snsr_pm";
			enable-active-high;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		vdd_usb_5v0: regulator@11 {
			compatible = "regulator-fixed-sync";
			reg = <11>;
			status = "disabled";
			regulator-name = "vdd-usb-5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_3v3>;
			regulator-always-on;
			enable-active-high;
			consumers {
				c0 {
					regulator-consumer-supply = "usb_vbus";
					regulator-consumer-device = "tegra-ehci.1";
				};
				c1 {
					regulator-consumer-supply = "usb_vbus";
					regulator-consumer-device = "tegra-ehci.2";
				};
			};
		};
		vdd_disp_3v0: regulator@12 {
			compatible = "regulator-fixed-sync";
			reg = <12>;
			regulator-name = "vdd-disp-3v0";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			gpio = <&gpio TEGRA_GPIO(I, 3) 0>;
			regulator-boot-on;
			enable-active-high;
			regulator-enable-ramp-delay = <232>;
		};

		vdd_fan: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "vdd-fan";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tca9539_74 4 0>;
			regulator-enable-ramp-delay = <284>;
			regulator-disable-ramp-delay = <6200>;
		};

		usb_vbus1: regulator@14 {
			compatible = "regulator-fixed-sync";
			reg = <14>;
			regulator-name = "usb-vbus1";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 4) 0>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_3v3>;
		};

		usb_vbus3: regulator@15 {
			compatible = "regulator-fixed-sync";
			reg = <15>;
			regulator-name = "usb-vbus3";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(D, 4) 0>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_3v3>;
		};
		vdd_cdc_1v2_aud: regulator@101 {
			compatible = "regulator-fixed-sync";
			reg = <101>;
			status = "disabled";
			regulator-name = "vdd_cdc_1v2_aud";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			enable-active-high;
			startup-delay-us = <250000>;
		};
		en_vdd_ts_1v8: regulator@201 {
			compatible = "regulator-fixed-sync";
			reg = <201>;
			regulator-name = "en-vdd-ts-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&tca9539_74 1 1>;
			enable-active-high;
		};

		en_vdd_ts_hv_3v3: regulator@202 {
			compatible = "regulator-fixed-sync";
			reg = <202>;
			regulator-name = "en-vdd-ts-hv-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tca9539_74 2 1>;
			enable-active-high;
		};

		en_avdd_disp_3v3: regulator@203 {
			compatible = "regulator-fixed-sync";
			reg = <203>;
			regulator-name = "en-vdd-disp-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&tca9539_74 3 1>;
			enable-active-high;
		};


		en_mdm_pwr_3v7: regulator@204 {
			compatible = "regulator-fixed-sync";
			reg = <204>;
			regulator-name = "en-mdm-pwr-3v7";
			regulator-min-microvol = <3700000>;
			regulator-max-microvol = <3700000>;
			gpio = <&tca9539_74 7 1>;
			enable-active-high;
		};

		en_dvdd_disp_1v8: regulator@205 {
			compatible = "regulator-fixed-sync";
			reg = <205>;
			regulator-name = "en-vdd-disp-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&tca9539_74 9 1>;
			enable-active-high;
		};

		en_vdd_cam_hv_2v8: regulator@206 {
			compatible = "regulator-fixed-sync";
			reg = <206>;
			regulator-name = "en-vdd-cam-hv-2v8";
			regulator-min-microvol = <2800000>;
			regulator-max-microvol = <2800000>;
			gpio = <&tca9539_74 13 1>;
			enable-active-high;
		};

		en_vdd_eth_5v0: regulator@207 {
			compatible = "regulator-fixed-sync";
			reg = <207>;
			regulator-name = "rtl-5v0";
			regulator-min-microvol = <5000000>;
			regulator-max-microvol = <5000000>;
			gpio = <&gpio TEGRA_GPIO(H, 1) 0>;
			enable-active-high;
		};

		en_usb_vbus2: regulator@208 {
			compatible = "regulator-fixed-sync";
			reg = <208>;
			regulator-name = "en-usb-vbus2";
			regulator-min-microvol = <5000000>;
			regulator-max-microvol = <5000000>;
			gpio = <&gpio TEGRA_GPIO(CC, 5) 0>;
			enable-active-high;
		};

		en_vdd_cam_1v2: regulator@209 {
			compatible = "regulator-fixed-sync";
			reg = <209>;
			regulator-name = "en-vdd-cam-1v2";
			regulator-min-microvol = <1200000>;
			regulator-max-microvol = <1200000>;
			vin-supply = <&vdd_3v3>;
			gpio = <&tca9539_77 3 1>;
			enable-active-high;
		};
	};
};
