/*
 * Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	regulators {
		compatible = "simple-bus";
		device_type = "fixed-regulators";
		#address-cells = <1>;
		#size-cells = <0>;

		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		vdd_sys_boost: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "vdd-5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			regulator-disable-on-suspend;
			gpio = <&max77620 1 0>;
			enable-active-high;
			regulator-disable-on-shutdown;
		};

		vdd_3v3: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			gpio = <&max77620 3 0>;
			enable-active-high;
			consumers {
				c1 {
					regulator-consumer-supply = "avdd_usb";
					regulator-consumer-device = "tegra-ehci.1";
				};
			};
		};

		mipi_1v2: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "mipi-1v2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-boot-on;
			gpio = <&max77620 7 0>;
			enable-active-high;
			vin-supply = <&max77620_ldo0>;
		};

		vdd_lcd_3v0: regulator@4 {
			compatible = "regulator-pinmux-fixed";
			reg = <4>;
			regulator-name = "vdd_lcd_3v0";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			regulator-boot-on;
			gpio = <&gpio TEGRA_GPIO(K, 0) 0>;
			enable-active-high;
			pinctrl-names = "enable";
			pinctrl-0 = <&enable_vdd_lcd_3v0_switch>;
		};

		vdd_lcd_1v8: regulator@5 {
			compatible = "regulator-pinmux-fixed";
			reg = <5>;
			regulator-name = "vdd_lcd_1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-boot-on;
			gpio = <&gpio TEGRA_GPIO(K, 1) 0>;
			enable-active-high;
			pinctrl-names = "enable";
			pinctrl-0 = <&enable_vdd_lcd_1v8_switch>;
		};


		vdd_hdmi: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-boot-on;
			gpio = <&gpio TEGRA_GPIO(CC, 7) 0>;
			enable-active-high;
		};

		vdd_3v3_emmc: regulator@7 {
			compatible = "regulator-fixed-sync";
			reg = <7>;
			regulator-name = "vdd-3v3-emmc";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		vdd_1v8_pll: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			regulator-name = "vdd-1v8-pll";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		vdd_sdcard: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "vdd-sd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio TEGRA_GPIO(Z, 4) 0>;
			enable-active-high;
		};

		vdd_1v2_ddr: regulator@10 {
			compatible = "regulator-fixed-sync";
			reg = <10>;
			regulator-name = "vdd-1v2-ddr";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		en_vdd_cpu_fixed: regulator@11 {
			compatible = "regulator-fixed";
			reg = <11>;
			regulator-name = "vdd-cpu-fixed";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
		};

		en_vdd_cam: regulator@12 {
			compatible = "regulator-fixed-sync";
			reg = <12>;
			regulator-name = "en-vdd-cam";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio TEGRA_GPIO(K, 3) 0>;
			enable-active-high;
		};
		en_vdd_cam_1v2: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "vdd-cam-1v2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&gpio TEGRA_GPIO(E, 4) 0>;
			enable-active-high;
		};
	};
};
