#
# This Kconfig describes VBS for CWP hypervisor
#
config VBS
	tristate "Enable VBS framework for CWP hypervisor"
	depends on CWP
	default n
	---help---
	  This option is selected by any driver which needs to use
	  the Virtio Backend Service (VBS) framework on Clearwater
	  Pass hypervisor.

config VBS_DEBUG
	bool "CWP VBS debugging"
	depends on VBS != n
	default n
	---help---
	  This is an option for use by developers; most people should
	  say N here.  This enables CWP VBS debugging.

config VBS_RNG
	tristate "CWP VBS reference driver: virtio RNG"
	depends on VBS != n
	default n
	---help---
	  Say M or * here to enable a VBS-K reference driver for CWP
	  hypervisor, virtio RNG driver, to work with virtio-rng
	  frontend driver in guest.
	  The reference driver shows an example on how to use VBS-K
	  APIs.
