#
# This Kconfig describes VBS for ACRN hypervisor
#
config VBS
	bool "Enable VBS framework for ACRN hypervisor"
	depends on ACRN
	default n
	---help---
	  This option is selected by any driver which needs to use
	  the Virtio Backend Service (VBS) framework on ACRN
	  hypervisor.

config VBS_DEBUG
	bool "ACRN VBS debugging"
	depends on VBS != n
	default n
	---help---
	  This is an option for use by developers; most people should
	  say N here.  This enables ACRN VBS debugging.

config VBS_RNG
	bool "ACRN VBS reference driver: virtio RNG"
	depends on VBS != n
	default n
	---help---
	  Say M or * here to enable a VBS-K reference driver for ACRN 
	  hypervisor, virtio RNG driver, to work with virtio-rng
	  frontend driver in guest.
	  The reference driver shows an example on how to use VBS-K
	  APIs.
