/*
 * Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

/dts-v1/;

#define TEGRA132_PACKAGE_IS_MID
#include "tegra132-soc-shield.dtsi"
#include "tegra124-platforms/tegra124-tn8-keys-e1780-1100-a02.dtsi"
#include "tegra124-platforms/tegra124-pm359-gpio-default.dtsi"
#include "tegra124-platforms/tegra124-pm359-pinmux.dtsi"
#include "panel-a-edp-1080p-14-0.dtsi"
#include "panel-a-1080p-14-0.dtsi"
#include "panel-p-wuxga-10-1.dtsi"
#include "tegra124-platforms/tegra124-laguna-hdmi-pm359-1000-a00.dtsi"
#include "tegra124-platforms/tegra124-laguna-power-tree-pm359-0000-a00.dtsi"

/ {
	model = "laguna";
	compatible = "nvidia,laguna", "nvidia,tegra132";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		i2c6 = &pca9546_i2c0;
		i2c7 = &pca9546_i2c1;
		i2c8 = &pca9546_i2c2;
		i2c9 = &pca9546_i2c3;
	};

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb earlycon=uart8250,mmio32,0x70006300";
		stdout-path = &uartd;
		linux,initrd-start = <0x85000000>;
		linux,initrd-end = <0x851bc400>;
	};

	firmware {
		android {
			compatible = "android,firmware";
			hardware = "laguna";
		};
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,low-v-win = <0x2>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		dsi {
			nvidia,dsi-controller-vs = <1>;
			status = "okay";
			panel-a-1080p-14-0 {
				nvidia,dsi-edp-bridge = <TEGRA_DSI_ENABLE>;
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 3) 0>; /* PH3 */
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
				nvidia,panel-bridge-en-0-gpio = <&gpio TEGRA_GPIO(I, 0) 0>; /* PI0 */
				nvidia,panel-bridge-refclk-en-gpio = <&gpio TEGRA_GPIO(G, 4) 0>; /* PG4 */
			};
                        panel-p-wuxga-10-1 {
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
                                nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(H, 3) 0>; /* PH3 */
                                nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
                        };
		};
		sor {
			status = "okay";
			nvidia,hpd-gpio = <&gpio 248 0>; /*PFF0*/
			panel-a-edp-1080p-14-0 {
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
			};
		};
		dpaux {
			status = "okay";
		};
	};
	serial@70006000 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
        };

	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	serial@70006300 {
		compatible = "nvidia,tegra20-uart", "nvidia,tegra114-hsuart";
		console-port;
		sqa-automation-port;
		status = "okay";
	};

	i2c@7000c000 {
		clock-frequency = <100000>;
		sn65dsi86@2d {
			compatible = "ti,sn65dsi86";
			reg = <0x2d>;
			status = "okay";
		};
		pca9546@70 {
			compatible = "nxp,pca9546";
			reg = <0x70>;
			#address-cells = <1>;
			#size-cells = <0>;
			pca9546_i2c0: i2c@0 {
				reg = <0>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
			};
			pca9546_i2c1: i2c@1 {
				reg = <1>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;

				max98090@10 {
					compatible = "nvidia,max98090";
					reg = <0x10>;
					maxim,audio-int = <237>;
					maxim,digmic-left-mode = <1>;
					maxim,digmic-right-mode = <1>;
				};
			};
			pca9546_i2c2: i2c@2 {
				reg = <2>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
			};
			pca9546_i2c3: i2c@3 {
				reg = <3>;
				i2c-mux,deselect-on-exit;
				#address-cells = <1>;
				#size-cells = <0>;
			};
		};
	};

	i2c@7000d000 {
		nvidia,bit-banging-xfer-after-shutdown;
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	pmc@7000e400 {
		status = "okay";
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		nvidia,cpu-pwr-good-time = <2000>;
		nvidia,cpu-pwr-off-time = <2000>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	pcie-controller {
		nvidia,hot-plug-gpio = <&gpio TEGRA_GPIO(O, 1) 0>;
		nvidia,wake-gpio = <&gpio TEGRA_GPIO(DD, 3) 0>;
		nvidia,x1-slot-gpio = <&tca6416 8 0>;
		nvidia,lane-map = <0x14>;
		status = "okay";

		pci@1,0 {
			nvidia,disable-clock-request;
			status = "okay";
		};

		pci@2,0 {
			nvidia,disable-clock-request;
			status = "okay";
		};
	};

	sata-controller {
		nvidia,pexp-gpio = <&tca6416 9 0>;
		status = "okay";
	};

        xusb@70090000 {
		/* nvidia,uses_external_pmic; */
		nvidia,gpio_controls_muxed_ss_lanes;
		nvidia,gpio_ss1_sata = <&tca6416 9 0>;
		nvidia,portmap = <0x703>; /* SSP0,SSP1, USB2P0, USB2P1, USB2P2 */
		nvidia,ss_portmap = /bits/ 8 <0x12>; /* SSP0 on USB2P2 and SSP1 on USP2P1 */
		nvidia,lane_owner = /bits/ 8 <5>; /* USB3P0 USB3S0 and PCIe_X4 */
		nvidia,ulpicap = /bits/ 8 <0>; /* No ulpi support. can we remove */
		status = "okay";
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		nvidia,id-detection-type = <1>;
		#extcon-cells = <1>;
		status = "okay";
		nvidia,id-detection-type=<1>;
	};

	otg@7d000000 {
		nvidia,id-detection-type = <1>;
		extcon-cables = <&adc_extcon 0>;
		extcon-cable-names = "id";
		#extcon-cells = <1>;
		status = "okay";
		ehci1: ehci {
			nvidia,enable-pmu-vbus-detection;
			nvidia,id-detection-type=<1>;
		};
	};

	psy_extcon {
		compatible = "power-supply-extcon";
		status = "disabled";
		extcon-cables = <&udc 1 &udc 2 &udc 3
				&udc 4 &udc 5 &udc 6
				&udc 7 &udc 8 &udc 9
				&udc 10 &otg 0>;
		extcon-cable-names = "usb-charger", "ta-charger", "maxim-charger",
				"qc2-charger", "downstream-charger","fast-charger",
				"slow-charger", "apple-500ma", "apple-1a",
				"apple-2a", "y-cable";
	};

	dfll@70040084 {
		board-params = <&{/cpu_dfll_board_params}>;
		i2c-pmic-integration = <&{/cpu_dfll_pmic_integration}>;
		monitor-data-new-workaround;
		status = "okay";
	};

	cpu_dfll_board_params {
		sample-rate = <12500>;
		fixed-output-forcing;
		cf = <10>;
		ci = <0>;
		cg = <2>;
		droop-cut-value = <0xf>;
		droop-restore-ramp = <0x0>;
		scale-out-ramp = <0x0>;
	};

	cpu_dfll_pmic_integration {
		pmic-i2c-address = <0x80>;
		pmic-i2c-voltage-register = <0x00>;
		i2c-fs-rate = <400000>;
		sel-conversion-slope = <1>;
	};

	ehci@7d004000 {
		avdd_usb-supply = <&as3722_gpio2_supply>;
		avdd_pll_utmip-supply = <&reg_1v8_supply>;
		usb_vbus-supply = <&usb1_usb2_vbus>;
		vddio_hsic-supply = <&as3722_ldo2>;
		status = "okay";
	};

	ehci@7d008000 {
		avdd_usb-supply = <&as3722_gpio2_supply>;
		avdd_pll_utmip-supply = <&reg_1v8_supply>;
		usb_vbus-supply = <&usb1_usb2_vbus>;
		status = "okay";
	};

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
	};

	tegra-snd-max98090 {
		compatible = "nvidia,tegra-snd-max98090";
		nvidia,name = "tegra-snd-max98090";
		nvidia,id = <0>;
		nvidia,codec-name = "max98090.7-0010";
		nvidia,codec-dai-name = "HiFi";
		nvidia,num-links = <1>;
		nvidia,edp-support;
		nvidia,edp-states = <1080 842 0>;
		nvidia,i2s-param,0,audio-port-id	= <1>;
		nvidia,i2s-param,0,is-i2s-master	= <1>;
		nvidia,i2s-param,0,i2s-mode		= <0>;
		nvidia,i2s-param,0,sample-size		= <16>;
		nvidia,i2s-param,0,channels		= <2>;
		nvidia,i2s-param,0,bit-clk		= <1536000>;
		};
};
