/*
 * arch/arm64/boot/dts/tegra210-jetson-cv-base-p2597-2180-a00.dts
 *
 * Copyright (c) 2015-2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

/dts-v1/;

/memreserve/ 0x80000000 0x00020000;

#include "tegra210-jetson-common.dtsi"
#include "tegra210-platforms/tegra210-audio.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-power-tree-p2597-2180-a00.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-pinmux-p2597-2180-a00.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-sdmmc-drv-p2597-2180-a00.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-prods.dtsi"
#include "tegra210-platforms/tegra210-comms-p2530-0930.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-camera-e3326-a00.dtsi"
#include "tegra210-platforms/tegra210-pwm-fan-p2530-0930.dtsi"
#include "panel-a-wuxga-8-0.dtsi"
#include "panel-s-edp-uhdtv-15-6.dtsi"
#include "tegra210-platforms/tegra210-ers-hdmi-e2190-1100-a00.dtsi"
#include "tegra210-platforms/tegra210-sdhci.dtsi"
#include "tegra210-platforms/tegra210-p2180-common.dtsi"
#include "tegra210-platforms/tegra210-thermal-fan-est-p2530-0930.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-keys-p2597-2180-a00.dtsi"
#include <dt-bindings/iio/meter/ina3221x.h>
#include "tegra210-platforms/tegra210-foster-e-extcon-p2530-0930-e01.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-emc-p2180-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-edp.dtsi"
#include "tegra210-platforms/tegra210-sysedp.dtsi"
#include "tegra210-platforms/tegra210-thermal-nct72-p2530.dtsi"
#include "tegra210-platforms/tegra210-thermal-Tboard-Tdiode.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-powermon-p2180-1000-a00.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-powermon-p2597.dtsi"
#include "tegra210-platforms/tegra210-jetson-cpufreq.dtsi"
#include "tegra210-platforms/tegra210-overrides/tegra210-power-dvfs-override-ucm1c.dtsi"
#include "tegra210-platforms/tegra210-jetson-cv-super-module-e2614.dtsi"
#include "tegra210-plugin-manager/tegra210-jetson-cv-eeprom-manager.dtsi"
#include "tegra210-plugin-manager/tegra210-jetson-cv-plugin-manager.dtsi"

/ {
	model = "jetson_cv";
	compatible = "nvidia,jetson-cv", "nvidia,tegra210";
	nvidia,dtsfilename = __FILE__;

	nvidia,boardids = "2597:2180:A0";
	nvidia,proc-boardid = "2597:2180:A0";
	nvidia,pmu-boardid = "2597:2180:A0";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
	};

	pmc@7000e400 {
		nvidia,invert-interrupt;
		io-pad-defaults {
			sdmmc1 {
				nvidia,enable-dynamic-pad-voltage;
			};
			sdmmc3 {
				nvidia,enable-dynamic-pad-voltage;
			};
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = < 0x0 0x80000000 0x0 0x80000000 >;
	};

	sdhci@700b0600 { /* SDMMC4 for EMMC */
		uhs-mask = <0x0>;
		built-in;
		power-off-rail;
		status = "okay";
	};

	sdhci@700b0200 { /* SDMMC2 for Wifi */
		uhs-mask = <0x8>;
		power-off-rail;
		status = "okay";
	};

	sdhci@700b0000 { /* SDMMC1 for SD card */
		uhs-mask = <0xc>;
		power-off-rail;
		nvidia,update-pinctrl-settings;
		pinctrl-names = "sdmmc_schmitt_enable", "sdmmc_schmitt_disable", "sdmmc_clk_schmitt_enable", "sdmmc_clk_schmitt_disable", "sdmmc_drv_code", "sdmmc_default_drv_code";
		pinctrl-0 = <&sdmmc1_schmitt_enable_state>;
		pinctrl-1 = <&sdmmc1_schmitt_disable_state>;
		pinctrl-2 = <&sdmmc1_clk_schmitt_enable_state>;
		pinctrl-3 = <&sdmmc1_clk_schmitt_disable_state>;
		pinctrl-4 = <&sdmmc1_drv_code_1_8V>;
		pinctrl-5 = <&sdmmc1_default_drv_code_3_3V>;
		nvidia,sd-device;
		wp-gpios = <&gpio TEGRA_GPIO_PZ4 0>;
		status = "okay";
	};

	adma@702e2000  {
		dma-channels = <10>;
		status = "okay";
	};

	ahub {
		i2s@702d1000 {
			pinctrl-names = "dap_active", "dap_inactive";
			pinctrl-0 = <>;
			pinctrl-1 = <>;
			regulator-supplies = "vdd-1v8-audio-hv", "vdd-1v8-audio-hv-bias";
			vdd-1v8-audio-hv-supply = <&max77620_sd3>;
			vdd-1v8-audio-hv-bias-supply = <&max77620_sd3>;
		};

		i2s@702d1300 {
			pinctrl-names = "dap_active", "dap_inactive";
			pinctrl-0 = <>;
			pinctrl-1 = <>;
			regulator-supplies = "vddio-dmic";
			vddio-dmic-supply = <&max77620_sd3>;
		};

		i2s@702d1100 {
			pinctrl-names = "dap_active", "dap_inactive";
			pinctrl-0 = <>;
			pinctrl-1 = <>;
			regulator-supplies = "vdd-1v8-spi-hv", "vdd-1v8-spi-hv-bias";
			vdd-1v8-spi-hv-supply = <&max77620_sd3>;
			vdd-1v8-spi-hv-bias-supply = <&max77620_sd3>;
			fsync-width = <0>;
		};
	};

	sata@70020000 {
		compatible = "nvidia,tegra210-ahci-sata";
		nvidia,enable-sata-port;
		status = "okay";
	};

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
		panel-a-wuxga-8-0-bl {
			pwms = <&tegra_pwm 0 40161>;
		};
		panel-s-edp-uhdtv-15-6-bl {
			pwms = <&tegra_pwm 0 1000000>;
		};
	};

	pcie-controller@1003000 {
		nvidia,wake-gpio = <&gpio TEGRA_GPIO(A, 2) 0>;
		nvidia,lane-map = <0x14>;
		dvdd-pex-pll-supply = <&max77620_ldo1>;
		l0-dvddio-pex-supply = <&max77620_ldo1>;
		l1-dvddio-pex-supply = <&max77620_ldo1>;
		l2-dvddio-pex-supply = <&max77620_ldo1>;
		l3-dvddio-pex-supply = <&max77620_ldo1>;
		l4-dvddio-pex-supply = <&max77620_ldo1>;
		l5-dvddio-pex-supply = <&max77620_ldo1>;
		l6-dvddio-pex-supply = <&max77620_ldo1>;
		hvdd-pex-pll-e-supply = <&max77620_sd3>;
		l0-hvddio-pex-supply = <&max77620_sd3>;
		l1-hvddio-pex-supply = <&max77620_sd3>;
		l2-hvddio-pex-supply = <&max77620_sd3>;
		l3-hvddio-pex-supply = <&max77620_sd3>;
		l4-hvddio-pex-supply = <&max77620_sd3>;
		l5-hvddio-pex-supply = <&max77620_sd3>;
		l6-hvddio-pex-supply = <&max77620_sd3>;
		vddio-pex-ctl-supply = <&max77620_sd3>;
		status = "okay";

		pci@1,0 {
			status = "okay";
		};

		pci@2,0 {
			status = "okay";
		};
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};

		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,cmu-enable = <1>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};

		dsi {
			nvidia,dsi-controller-vs = <DSI_VS_1>;
			status = "okay";
			panel-a-wuxga-8-0 {
				status = "okay";
				nvidia,dsi-dpd-pads = <DSIC_DPD_EN DSID_DPD_EN>;
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(V, 2) 0>; /* PV2 */
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(V, 0) 0>; /* PV0 */
				disp-default-out {
					nvidia,out-flags = <TEGRA_DC_OUT_CONTINUOUS_MODE>;
				};
			};
		};

		sor {
			nvidia,hpd-gpio = <&gpio TEGRA_GPIO(CC, 6) 0>; /* PCC6 */
			panel-s-edp-uhdtv-15-6 {
				nvidia,panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(V, 0) 0>; /* PV0 */
				nvidia,panel-rst-gpio = <&gpio TEGRA_GPIO(V, 2) 0>; /* PV2 */
			};
		};

		i2c@546c0000 {
			status = "okay";
			bus-pullup-supply = <&max77620_sd3>;
			avdd_dsi_csi-supply = <&max77620_sd3>;
		};

		vi {
			status = "okay";
			avdd_dsi_csi_supply = <&max77620_sd3>;
		};
	};

	serial@70006040 {
		status = "okay";
	};

	spi@7000da00 {
		status = "ok";
	};

	spi@7000d400 {
		status = "okay";
	};

	sound_card: sound {
		compatible = "nvidia,tegra-audio-t210ref-mobile-rt565x";
		nvidia,model = "tegra-snd-t210ref-mobile-rt565x";
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;

		/* used when no audio codec on board */
		nvidia,dummy-codec-dai = <&spdif_dit0>;
		nvidia,dummy-codec-dai-name = "dit-hifi";

		nvidia,num-codec-link = <5>;

		nvidia,audio-routing =
			"x Headphone Jack",	"x HPO L Playback",
			"x Headphone Jack",	"x HPO R Playback",
			"x MICBIAS1",		"x Mic Jack",
			"x IN1P",		"x Mic Jack",
			"x Mic Det Power",	"x Mic Jack",
			"x Int Spk",		"x SPO Playback",
			"x DMIC L1",		"x Int Mic",
			"x DMIC L2",		"x Int Mic",
			"x DMIC R1",		"x Int Mic",
			"x DMIC R2",		"x Int Mic",
			"y Headphone",		"y OUT",
			"y IN",			"y Mic",
			"l IN",			"l OUT",
			"s Headphone",		"s OUT",
			"s IN",			"s Mic";

		nvidia,xbar = <&tegra_axbar>;

		nvidia,dai-link-1 {
			link-name = "rt565x-playback";
			cpu-dai = <&tegra_i2s1>;
			codec-dai = <&rt5659>;
			cpu-dai-name = "I2S1";
			codec-dai-name = "rt5659-aif1";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bitclock-noninversion;
			frame-noninversion;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "x";
		};

		nvidia,dai-link-2 {
			link-name = "spdif-dit-1";
			cpu-dai = <&tegra_i2s2>;
			codec-dai = <&spdif_dit1>;
			cpu-dai-name = "I2S2";
			codec-dai-name = "dit-hifi";
			format = "dsp_a";
			bitclock-slave;
			frame-slave;
			bitclock-inversion;
			frame-inversion;
			bit-format = "s16_le";
			bclk_ratio = <4>;
			srate = <8000>;
			num-channel = <1>;
			name-prefix = "y";
		};

		nvidia,dai-link-3 {
			link-name = "spdif-dit-2";
			cpu-dai = <&tegra_dmic3>;
			codec-dai = <&spdif_dit2>;
			cpu-dai-name = "DMIC3";
			codec-dai-name = "dit-hifi";
			format = "i2s";
			bit-format = "s16_le";
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "z";
		};

		nvidia,dai-link-4 {
			link-name = "spdif-dit-3";
			cpu-dai = <&tegra_i2s3>;
			codec-dai = <&spdif_dit3>;
			cpu-dai-name = "I2S3";
			codec-dai-name = "dit-hifi";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bitclock-noninversion;
			frame-noninversion;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "l";
		};

		nvidia,dai-link-5 {
			link-name = "spdif-dit-0";
			cpu-dai = <&tegra_i2s4>;
			codec-dai = <&spdif_dit0>;
			cpu-dai-name = "I2S4";
			codec-dai-name = "dit-hifi";
			format = "i2s";
			bitclock-slave;
			frame-slave;
			bitclock-noninversion;
			frame-noninversion;
			bit-format = "s16_le";
			bclk_ratio = <0>;
			srate = <48000>;
			num-channel = <2>;
			name-prefix = "s";
		};
	};

	adsp_audio {
		compr-ops = <1>;
		num-plugin = <5>;
		plugin-info-1 {
			plugin-name = "mp3-dec1";
			firmware-name = "nvmp3dec.elf";
			widget-name = "MP3-DEC1";
		};
		plugin-info-2 {
			plugin-name = "spkprot";
			firmware-name = "nvspkprot.elf";
			widget-name = "SPKPROT-SW";
		};
		plugin-info-3 {
			plugin-name = "src";
			firmware-name = "nvsrc.elf";
			widget-name = "SRC";
		};
		plugin-info-4 {
			plugin-name = "aac-dec1";
			firmware-name = "nvaacdec.elf";
			widget-name = "AAC-DEC1";
		};
		plugin-info-5 {
			plugin-name = "aec";
			firmware-name = "nvoice.elf";
			widget-name = "AEC";
		};
	};

	extcon {
		extcon@0 {
			status = "disabled";
		};
	};

	udc@7d000000 {
		nvidia,port-otg;
		nvidia,charging-supported;
		#extcon-cells = <1>;
		status = "okay";
	};

	otg@7d000000 {
		#extcon-cells = <1>;
		status = "okay";
	};

	xusb_pad_ctl: xusb_padctl { /* Put common control config here */
		nvidia,lane-map = <0x14>;
		nvidia,ss_ports = <TEGRA_XHCI_SS_P0 TEGRA_XHCI_USB2_P1 TEGRA_XHCI_LANE_6 TEGRA_XHCI_PORT_STD
				   TEGRA_XHCI_SS_P1 TEGRA_XHCI_USB2_P2 TEGRA_XHCI_LANE_5 TEGRA_XHCI_PORT_STD
				   TEGRA_XHCI_SS_P2 TEGRA_XHCI_USB2_P0 TEGRA_XHCI_UNUSED_LANE TEGRA_XHCI_PORT_OTG
				   TEGRA_XHCI_SS_P3 TEGRA_XHCI_UNUSED_PORT TEGRA_XHCI_UNUSED_LANE TEGRA_XHCI_PORT_STD>;
		nvidia,enable-sata-port;
		status = "okay";
	};

	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		/* nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		nvidia,portmap = <0x0e03>;
		nvidia,common_padctl = <&xusb_pad_ctl>;
		status = "okay";
	};

	xudc@700d0000 {
		nvidia,common_padctl = <&xusb_pad_ctl>;
		nvidia,portmap = <0x0108>;
		#extcon-cells = <1>;
		status = "disabled";
	};

	xotg {
		#extcon-cells = <1>;
		nvidia,common_padctl = <&xusb_pad_ctl>;
		status = "disabled";
	};

	gpu-dvfs-rework {
		status = "ok";
	};

	thermal-fan-est {
		compatible = "thermal-fan-est";
		active_trip_temps = <0 51000 61000 71000 82000
				140000 150000 160000 170000 180000>;
		active_hysteresis = <0 15000 9000 9000 10000
				0 0 0 0 0>;
	};

	pwm-fan {
		compatible = "pwm-fan";
		shared_data = <&pwm_fan_shared_data>;
		active_pwm = <0 80 120 160 255 255 255 255 255 255>;
	};

	pwm_fan_shared_data: pfsd {
		tach_gpio =  <TEGRA_GPIO(K, 7)>; /* TEGRA_GPIO_PK7 */
	};

	i2c@7000c000 {
		rt5659: rt5659.0-001b@1b {
                        compatible = "realtek,rt5659";
                        reg = <0x1b>;
                };
	};

	i2c@7000c400 {
		nvidia,clock-always-on;

		lp8557-backlight-a-wuxga-8-0@2c {
			status = "disabled";
			disable-on-kernel-charging;
			compatible = "ti,lp8557";
			reg = <0x2c>;

			bl-name = "pwm-backlight"; /* Match liblights naming expectations */
			init-brt = /bits/ 8 <0xFF>; /* Max brightness */
			dev-ctrl = /bits/ 8 <0x80>; /* PWM, enable standby mode */
			pwm-period = <29334>;

			pwm-names = "lp8557";
			pwms = <&tegra_pwm 0 29334>;

			bl-measured = < 0 1 2 3 4 5 6 7
					8 9 10 11 12 13 14 15
					16 17 18 19 20 21 22 23
					24 25 26 27 28 29 30 31
					32 33 34 35 36 37 38 39
					40 41 42 43 44 45 46 47
					48 49 50 51 52 53 54 55
					56 57 58 59 60 61 62 63
					64 65 66 67 68 69 70 71
					72 73 74 75 76 77 78 79
					80 81 82 83 84 85 86 87
					88 89 90 91 92 93 94 95
					96 97 98 99 100 101 102 103
					104 105 106 107 108 109 110 111
					112 113 114 115 116 117 118 119
					120 121 122 123 124 125 126 127
					128 129 130 131 132 133 134 135
					136 137 138 139 140 141 142 143
					144 145 146 147 148 149 150 151
					152 153 154 155 156 157 158 159
					160 161 162 163 164 165 166 167
					168 169 170 171 172 173 174 175
					176 177 178 179 180 181 182 183
					184 185 186 187 188 189 190 191
					192 193 194 195 196 197 198 199
					200 201 202 203 204 205 206 207
					208 209 210 211 212 213 214 215
					216 217 218 219 220 221 222 223
					224 225 226 227 228 229 230 231
					232 233 234 235 236 237 238 239
					240 241 242 243 244 245 246 247
					248 249 250 251 252 253 254 255 >;

			/* 20 mA max current */
			rom_11h {
				rom-addr = /bits/ 8 <0x11>;
				rom-val = /bits/ 8 <0x05>;
			};

			/* 3 LED string */
			rom_14h {
				rom-addr = /bits/ 8 <0x14>;
				rom-val = /bits/ 8 <0x87>;
			};

			/*Boost freq 1MHZ*/
			rom_13h {
				rom-addr = /bits/ 8 <0x13>;
				rom-val = /bits/ 8 <0x01>;
			};
		};

		tca9539_74: tca9539@74 {
			compatible = "ti,tca9539";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x74>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(L, 1) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};

		tca9539_77: tca9539@77 {
			compatible = "ti,tca9539";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x77>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(Z, 2) 0x0>;
			#interrupt-cells = <2>;
			interrupt-controller;
		};
	};

	sysedp {
		compatible = "nvidia,tegra124-sysedp";
		nvidia,margin = <0>;
		nvidia,min_budget = <0>;
		nvidia,initial_budget = <40000>;
	};

	sysedp_reactive_capping@1 {
		compatible = "nvidia,tegra124-sysedp_reactive_capping";
		nvidia,max_capping_mw = <15000>;
		nvidia,step_alarm_mw = <1000>;
		nvidia,step_relax_mw = <500>;
		nvidia,relax_ms = <250>;
		nvidia,threshold_warning = "WARNING - SYSTEM Voltage Droop detected, please refer to the Jetson Power management application note";
		interrupt-parent = <&soctherm>;
		interrupts = <1 0x2002>;
		sysedpc {
			nvidia,name = "voltmon_oc1";
		};
	};

	sysedp_reactive_capping@3 {
		compatible = "nvidia,tegra124-sysedp_reactive_capping";
		nvidia,max_capping_mw = <15000>;
		nvidia,step_alarm_mw = <1000>;
		nvidia,step_relax_mw = <500>;
		nvidia,relax_ms = <250>;
		nvidia,threshold_warning = "WARNING - Battery Over Current Limit hit, please refer to the Jetson Power management application note";
		interrupt-parent = <&soctherm>;
		interrupts = <3 0x2002>;
		sysedpc {
			nvidia,name = "batmon_oc3";
		};
	};

	sysedp-dynamic-capping {
		compatible = "nvidia,tegra124-sysedp-dynamic-capping";
		nvidia,throttle_depth = <75>;
		nvidia,cap_method = <1>;
	};

	bcmdhd_wlan {
		edp-consumer-name = "primary-wifi";
	};

	cpu_edp {
		status = "okay";
		nvidia,edp_limit = <25000>;
	};

	gpu_edp {
		status = "okay";
		nvidia,edp_limit = <25000>;
	};

	soctherm@0x700E2000 {
		throttle@oc1 {
			device_type = "throttlectl";
			oc-alarm-id = <1>;
			priority = <50>;
			mode = "brief";
			intr;
			active_low;
			count_threshold = <100>;
			filter = <5100000>;
			throttle_dev = <&{/soctherm@0x700E2000/throttle_dev@cpu_medium}
					&{/soctherm@0x700E2000/throttle_dev@gpu_medium}>;
		};
		throttle@oc3 {
			device_type = "throttlectl";
			oc-alarm-id = <3>;
			priority = <40>;
			mode = "brief";
			intr;
			active_low;
			count_threshold = <15>;
			filter = <5100000>;
			throttle_dev = <&{/soctherm@0x700E2000/throttle_dev@cpu_medium}
					&{/soctherm@0x700E2000/throttle_dev@gpu_medium}>;
		};
		throttle_dev@cpu_medium {
			dividend = <63>;
			divisor = <255>;
			duration = <0>;
			step = <0>;
		};
		throttle_dev@gpu_medium {
			level = "medium_throttling";
		};
	};

	thermal-zones {
		CPU-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				cpu_critical {
					temperature = <102500>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				cpu_heavy {
					temperature = <98500>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				cpu_throttle {
					temperature = <89000>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/CPU-therm/trips/cpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/CPU-therm/trips/cpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/CPU-therm/trips/cpu_throttle}>;
					cdev-type = "cpu-balanced";
					cooling-device = <&{/bthrot_cdev/cpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		GPU-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				gpu_critical {
					temperature = <103000>;
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				gpu_heavy {
					temperature = <100000>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				gpu_throttle {
					temperature = <90500>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/GPU-therm/trips/gpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/GPU-therm/trips/gpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/GPU-therm/trips/gpu_throttle}>;
					cdev-type = "gpu-balanced";
					cooling-device = <&{/bthrot_cdev/gpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		LCPU-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
			trips {
				lcpu_critical {
					temperature = <103000>; /* must be same as GPU's critical temp */
					hysteresis = <0>;
					type = "critical";
					writable;
				};
				lcpu_heavy {
					temperature = <101500>;
					hysteresis = <0>;
					type = "hot";
					writable;
				};
				lcpu_throttle {
					temperature = <92000>;
					hysteresis = <0>;
					type = "passive";
					writable;
				};
			};
			cooling-maps {
				map0 {
					trip = <&{/thermal-zones/LCPU-therm/trips/lcpu_critical}>;
					cdev-type = "tegra-shutdown";
					cooling-device = <&{/soctherm@0x700E2000/throttle@critical}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map1 {
					trip = <&{/thermal-zones/LCPU-therm/trips/lcpu_heavy}>;
					cdev-type = "tegra-heavy";
					cooling-device = <&{/soctherm@0x700E2000/throttle@heavy}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
				map2 {
					trip = <&{/thermal-zones/LCPU-therm/trips/lcpu_throttle}>;
					cdev-type = "cpu-balanced";
					cooling-device = <&{/bthrot_cdev/cpu_balanced}
						THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
		PLL-therm {
			thermal-zone-params {
				governor-name = "pid_thermal_gov";
				max_err_temp = <9000>;
				max_err_gain = <1000>;
				gain_p = <1000>;
				gain_d = <0>;
				up_compensation = <20>;
				down_compensation = <20>;
			};
		};

		Tboard_tegra {
			status = "okay";
		};
		Tdiode_tegra {
			status = "okay";
		};
		AO-therm {
			status = "okay";
		};
	};

	bcmdhd_wlan {
		fw_path = "/system/vendor/firmware/fw_bcmdhd.bin";
		nv_path = "/system/etc/nvram_jetsonE_cv_4354.txt";
		country_code_map {
			CC1 {
				iso_abbrev = "XR";
				custom_locale = "XR";
				custom_locale_rev = <122>;
			};
			CC27 {
				iso_abbrev = "IN";
				custom_locale = "Q2";
				custom_locale_rev = <998>;
			};
		};
	};

	serial@70006300 {
		dma-names = "tx";
	};

	i2c@7000c400 {
		clock-frequency = <400000>;
	};

	i2c@7000d000 {
		clock-frequency = <1000000>;
	};

	dfll-max77621@70110000 {
		dfll-max77621-integration {
			i2c-fs-rate = <1000000>;
		};

		dfll-max77621-board-params {
			sample-rate = <20000>;
		};
	};

	soctherm@0x700E2000 {
		therm_gpu {
			enable-hw-pllx-offsetting;
			pllx-offset-max = <4000>;
			pllx-offset-min = <2000>;
		};
	};
};
