/*
 * Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

#include "tegra210-ers-e2220-1170-a00-00-common.dts"
#include "tegra210-platforms/tegra210-ers-p2143-emc.dtsi"

/ {
	nvidia,dtsfilename = __FILE__;

	i2c@7000c000 {
		pca9546@71 {
			i2c@3 {
				gpio@76 {
					pcie-mux {
						gpio-output-low = <12 14 15>;
						gpio-output-high = <5 6 11 13>;
					};
				};
			};
		};
	};
};
