/*
 * TURBO TRAV HW3.1 RevB board device tree source
 *
 * Copyright (C) 2019 Tesla Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "turbo-trav-board-hw31.dts"

/* Dual serializer has been replaced by QUAD serializer in hw3.1.
 * Data lanes changed to reflect the change */
&hsi2c_0 {
	dummysensor9@0x18 {
		port {
			csis_trav_sensor_8_ep: endpoint {
				data-lanes = <1 2 3 4>;
			};
		};
	};

	dummysensor10@0x19 {
		port {
			csis_trav_sensor_9_ep: endpoint {
				data-lanes = <1 2 3 4>;
			};
		};
	};

	dummysensor11@0x1A {
		port {
			csis_trav_sensor_10_ep: endpoint {
				data-lanes = <1 2 3 4>;
			};
		};
	};

	dummysensor12@0x1B {
		port {
			csis_trav_sensor_11_ep: endpoint {
				data-lanes = <1 2 3 4>;
			};
		};
	};
};
