config TEGRA_PROFILER
	bool "Enable Tegra profiler"
	depends on ARCH_TEGRA || PLATFORM_TEGRA
	help
	  This option enables Tegra profiler
	  The main responsibility of this module is sampling
	  This module creates /dev/quadd device which is essential for
	  Tegra profiler work
